extends ../_employer.pug

block var
	- var title = "mjp-postj-contactinfo"
	- var name = "mjp-postj-contactinfo"
	- var bodyClass = "employer-home-page"
block link 
	link(rel="stylesheet" href="./gallery/swiper/swiper.css")
	link(rel="stylesheet" href="./gallery/chart.js/Chart.min.css")
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

block main
	//- inclde chỗ này 

	include ../../components/employer/Lam-mjp-postj-contactinfo/index.pug



	//-Mail mặc định
	include ../../components/employer/home/mail/index.pug

block script
	script(src="./gallery/swiper/swiper.js")
	script(src="./gallery/chart.js/Chart.min.js")
	script(src="https://code.jquery.com/jquery-1.12.4.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
