section.all-product-detail-job-posting.cb-section#section-4
	.container
		h2.cb-title.cb-title-center Mẫu đăng tuyển
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<10; i++)
						.swiper-slide
							.image
								a(href="#")
									img(src="./img/employer/23.png", alt="")
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right

