section.all-product-service.cb-section
	.container
		h2.cb-title.cb-title-center Chúng tôi mang đến trải nghiệm dịch vụ tốt nhất
		.sub-title
			p Tại Việt Nam, CareerBuilder là lựa chọn của hơn 14.000 doanh nghiệp hàng đầu với các ưu thế: Tiếp cận hiệu quả nhiều nguồn ứng viên tiềm năng với Giải pháp kết nối, tuyển dụng và quản lý nhân tài Talent Solution, Talent Driver , Targeted Email Marketing , Talent Referral. Thu hút hàng trăm ngàn hồ sơ ứng viên hoàn chỉnh và được cập nhật mới thường xuyên..
		.list-service
			.row
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i1.png", alt="")
						.caption
							h3.title
								a(href="#") Đăng Tuyển Dụng
							p.content Thông tin đăng tuyển của bạn sẽ hiển thị trực tuyến trên CareerBuilder.vn và các trang đối tác của chúng tôi trong vòng 30 ngày
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i2.png", alt="")
						.caption
							h3.title 
								a(href="#") tìm hồ sơ ứng viên
							p.content Truy cập vào hàng trăm ngàn hồ sơ hoàn chỉnh và được cập nhật mới thường xuyên để tìm kiếm những ứng viên phù hợp nhất với vị trí tuyển dụng.
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i3.png", alt="")
						.caption
							h3.title 
								a(href="#") Talent Solution
							p.content Talent Solution – giải pháp tuyển dụng toàn diện dành cho doanh nghiệp được sáng tạo độc quyền bởi CareerBuilder.
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i4.png", alt="")
						.caption
							h3.title 
								a(href="#") quảng cáo Tuyển Dụng
							p.content Quảng cáo tuyển dụng có thể thu hút sự chú ý của ứng viên tài năng nhờ liên kết trực tiếp đến thông tin của bạn trên Logo hoặc Banner trên web CareerBuilder.
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i5.png", alt="")
						.caption
							h3.title 
								a(href="#") Talent Driver
							p.content Là giải pháp kết hợp giữa tuyển dụng và marketing được phát triển nhằm thu hút nhân tài và quảng bá thương hiệu tuyển dụng đến các ứng viên qua các kênh truyền thông trực tuyến.
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i6.png", alt="")
						.caption
							h3.title 
								a(href="#") Targeted Email Marketing
							p.content Targeted Email Marketing (Quảng bá tập trung bằng thư điện tử) là giải pháp giúp nâng cao hiệu quả tiếp cận nhóm đối tượng tiềm năng thông qua phương thức gửi thư điện tử.
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i7.png", alt="")
						.caption
							h3.title 
								a(href="#") Talent Referral
							p.content Talent Referral là hệ thống được thiết kế đặc biệt giúp tự động hoá quy trình quản lý tuyển dụng ứng viên qua sự giới thiệu của nhân viên nội bộ.
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
				.col-md-6
					.item
						.image
							a(href="#")
								img(src="./img/employer/i8.png", alt="")
						.caption
							h3.title 
								a(href="#") Đăng Tuyển Dụng & Tìm Hồ Sơ Quốc tế
							p.content Việc tuyển dụng quốc tế của bạn trở nên dễ dàng hơn bao giờ hết với dịch vụ tiên tiến và mạng lưới toàn cầu tại hơn 60 quốc gia của chúng tôi. 
							a(href="#").view-more Xem thêm
								em.mdi.mdi-chevron-right
