section.home-salary-banner
	.image
		img(src="./img/vn-salary/banner.png", alt="")
	.main-salary
		.box-salary
			h1 Bạn đang nhận mức lương cạnh tranh?
			.des
				p Đo lường nhanh mức lương tham khảo được tổng hợp từ các thông tin đăng tuyển tại CareerBuilder.vn
			.main-form
				form
					.list-form-group
						.form-group.form-keyword
							label
								em.material-icons search
							input(type="text" placeholder="Nhập vị trí hoặc chức danh")#searchautocomplate
							.cleartext
								em.mdi.mdi-close-circle
						.form-group.form-select
							label
								em.material-icons place
							select
								option(value="0") Tất cả địa điểm
								option(value="") HCM
						.form-group
							label
								em.material-icons attach_money
							input(type="text" placeholder="Nhập mức lương khảo sát(VND)")
						.form-group.form-submit
							button.btn-gradient
								em.material-icons search
section.home-salary-banner
	.video
		video(src="./img/video.mp4" autoplay muted loop)
	.main-salary
		.box-salary
			h1 Bạn đang nhận mức lương cạnh tranh?
			.des
				p Đo lường nhanh mức lương tham khảo được tổng hợp từ các thông tin đăng tuyển tại CareerBuilder.vn
			.main-form
				form
					.list-form-group
						.form-group.form-keyword
							label
								em.material-icons search
							input(type="text" placeholder="Nhập vị trí hoặc chức danh")#searchautocomplate
							.cleartext
								em.mdi.mdi-close-circle
						.form-group.form-select
							label
								em.material-icons place
							select
								option(value="0") Tất cả địa điểm
								option(value="") HCM
						.form-group
							label
								em.material-icons attach_money
							input(type="text" placeholder="Nhập mức lương khảo sát(VND)")
						.form-group.form-submit
							button.btn-gradient
								em.material-icons search
section.home-salary-1.cb-section
	.container
		.cb-title.cb-title-center
			h2 Lợi ích của bạn khi sử dụng VietnamSalary
		.row
			.col-lg-6
				.image
					a(href="https://www.youtube.com/watch?v=B0d8DrhwAcQ" data-fancybox="")
						img(src="./img/vn-salary/1.png", alt="")
			.col-lg-6
				.main-content
					ul
						li
							.icon
								img(src="./img/vn-salary/i1.png", alt="")
							.text
								h3 Mức lương của bạn so với thị trường lao động
								p Tìm hiểu mức lương hiện tại/ mong muốn của bạn đang ở đâu so với thị trường lao động
						li
							.icon
								img(src="./img/vn-salary/i2.png", alt="")
							.text
								h3 Cập nhật thông tin mới nhất và hữu ích về lương
								p Đón xem loạt bài viết nóng hổi xoay quanh “chuyện khó nói” lương và thưởng
								a(href="#") Xem tất cả
						li
							.icon
								img(src="./img/vn-salary/i3.png", alt="")
							.text
								h3 Tính nhanh lương Gross/Net và thuế thu nhập cá nhân
								p Công cụ tính lương mẫu nhanh
								a(href="#").open-modal-salary-alculator Click vào đây để tính ngay!
section.home-salary-1.cb-section
	.container
		.cb-title.cb-title-center
			h2 Lợi ích của bạn khi sử dụng VietnamSalary
		.row
			.col-lg-6
				.video
					video(src="./img/video.mp4" autoplay muted loop)
			.col-lg-6
				.main-content
					ul
						li
							.icon
								img(src="./img/vn-salary/i1.png", alt="")
							.text
								h3 Mức lương của bạn so với thị trường lao động
								p Tìm hiểu mức lương hiện tại/ mong muốn của bạn đang ở đâu so với thị trường lao động
						li
							.icon
								img(src="./img/vn-salary/i2.png", alt="")
							.text
								h3 Cập nhật thông tin mới nhất và hữu ích về lương
								p Đón xem loạt bài viết nóng hổi xoay quanh “chuyện khó nói” lương và thưởng
								a(href="#") Xem tất cả
						li
							.icon
								img(src="./img/vn-salary/i3.png", alt="")
							.text
								h3 Tính nhanh lương Gross/Net và thuế thu nhập cá nhân
								p Công cụ tính lương mẫu nhanh
								a(href="#").open-modal-salary-alculator Click vào đây để tính ngay!
section.home-salary-1.cb-section
	.container
		.cb-title.cb-title-center
			h2 Lợi ích của bạn khi sử dụng VietnamSalary
		.row
			.col-lg-6
				.iframe
					iframe( src="https://www.youtube.com/embed/RQ46ijut6JI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			.col-lg-6
				.main-content
					ul
						li
							.icon
								img(src="./img/vn-salary/i1.png", alt="")
							.text
								h3 Mức lương của bạn so với thị trường lao động
								p Tìm hiểu mức lương hiện tại/ mong muốn của bạn đang ở đâu so với thị trường lao động
						li
							.icon
								img(src="./img/vn-salary/i2.png", alt="")
							.text
								h3 Cập nhật thông tin mới nhất và hữu ích về lương
								p Đón xem loạt bài viết nóng hổi xoay quanh “chuyện khó nói” lương và thưởng
								a(href="#") Xem tất cả
						li
							.icon
								img(src="./img/vn-salary/i3.png", alt="")
							.text
								h3 Tính nhanh lương Gross/Net và thuế thu nhập cá nhân
								p Công cụ tính lương mẫu nhanh
								a(href="#").open-modal-salary-alculator Click vào đây để tính ngay!
section.home-salary-2.cb-section
	.container
		.cb-title.cb-title-center
			h2 Câu chuyện thành công từ ứng viên
		.des
			p Dựa trên
				span 16,786
				| nhận xét của ứng viên
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<10; i++)
						.swiper-slide
							.quote
								img(src="./img/vn-salary/quote.png", alt="")
							.content
								p VietnamSalary.vn ra đời vừa là cú hích vừa khiến giới nhân sự chúng tôi phải đau đầu đây! Khi bất kỳ ai cũng có thể sử dụng cổng thông tin này để tra cứu về lương thưởng thì chúng tôi sẽ phải xây dựng và cải tiến những chính sách chi trả một cách cạnh tranh hơn để có thể thu hút và giữ chân người tài.
							.user
								.ava
									img(src="./img/vn-salary/2.png", alt="")
								.name
									h3 Chị
										span Phương Trát
									p Giám đốc nhân sự
			.main-page
				.swiper-pagination
section.home-salary-3.cb-section
	.container
		.cb-title.cb-title-center
			h2 Tìm kiếm mức lương theo ngành nghề
		.main-content
			ul.list-item
				- for (i=1; i<9; i++)
					li
						.icon
							//- a(href="#")
							img(src="./img/vn-salary/i4.png", alt="")
						.content
							a(href="#")
								h4 Kế toán
							p 
								a(href="#") Kế toán thanh toán
								| , 
								a(href="#") Chief Accountant
								| , 
								a(href="#") General accountant
								| , 
								a(href="#") Kế toán trưởng
		.banner
			a(href="#")
				img(src="./img/vn-salary/banner2.png", alt="")
section.home-salary-4
	.container
		.main-content
			.cb-title.cb-title-center
				h2 Hãy tạo sơ yếu lý lịch chuyên nghiệp tại CareerBuilder ngay bây giờ
			.apply-now
				a(href="#") Ứng tuyển ngay công việc bạn mơ ước
//- .list-social-fixed
//- 	ul
//- 		li
//- 			a(href="#")
//- 				em.fa.fa-facebook
//- 			a(href="#")
//- 				em.fa.fa-envelope
//- 			a(href="#")
//- 				em.fab.fa-facebook-f
//- 			a(href="#")
//- 				em.fab.fa-facebook-f
//- 			a(href="#")s
.feedback-btn
	a(href="#")
		em.material-icons create
		span Góp ý kiến
include ../../feedback-modal/index.pug
ul.list-nav-fixed
	li
		a(href="#")
			em.fa.fa-facebook
	li
		a(href="#")
			em.fa.fa-envelope
	li
		a(href="#")
			em.fa.fa-comments
	li
		a(href="#")
			em.fa.fa-volume-control-phone
	li
		a(href="#")
			em.material-icons add
.salary-calculator-2-modal(style="display: none")
	.widget.widget-5
		.widget-head
			.cb-title-h3
				h3 Bảng tính lương mẫu
		.widget-body
			.cb-sub-title
				p Bảng tính lương mẫu, tính lương Gross, tính lương NET, thuế thu nhập cá nhân
			.title
				h4  Tính nâng cao
			.main-form
				.form-group.form-text
					input(type="text" onkeyup="this.setAttribute('value', this.value);" value="15.000.000" data-type="currency")
					label * Nhập mức lương tổng VNĐ
				.form-group.form-text
					input(type="text" onkeyup="this.setAttribute('value', this.value);" value="" data-type="currency")
					label * Số người phụ thuộc
				.form-group.form-submit
					a(href="javascript:void(0)").btn-gradient tính lương net
