section.employer-contact.cb-section
    .container
        h2.cb-title.cb-title-center Liên hệ
        .row
            .col-ipro.col-lg-12.col-xl-6
                .item
                    .flex-img
                        .image
                            img(src="./img/employer/16.png", alt="")
                    .content
                        h3.name thành phố hồ chí minh
                        ul 
                            li 
                                em.mdi.mdi-phone 
                                p 84 028 3822 6060
                            li 
                                em.mdi.mdi-fax  
                                p 84 028 3824 1866
                            li 
                                em.mdi.mdi-mail 
                                p sales@careerbuilder.vn
            .col-ipro.col-lg-12.col-xl-6
                .item
                    .flex-img
                        .image
                            img(src="./img/employer/17.png", alt="")
                    .content
                        h3.name thành phố hà nội
                        ul 
                            li 
                                em.mdi.mdi-phone 
                                p 84 024 7305 6060
                            li 
                                em.mdi.mdi-fax  
                                p 84 024 6274 1401
                            li 
                                em.mdi.mdi-mail 
                                p sales.north@careerbuilder.vn