section.post-recruitment2-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				
				.left-content
					.container
						.box-content
							h1 Đăng Tuyển Dụng & Tìm Hồ Sơ Quốc tế
section.employer-nav
	.container
		//- .nav-mobile
		//- 	p Danh mục 
		//- 	em.mdi.mdi-chevron-down
		ul.list-menu
			li(data-menu="1").active
				a(href="javascript:void(0)") Tổng quan
			li(data-menu="2")
				a(href="javascript:void(0)") Lợi ích
section.employer-post-recruitment2
	.container
		.section-content.cb-section#section-1
			h2.cb-title.cb-title-center Tổng quan
			.full-content
				p 
					strong Giải pháp toàn diện cho nhu cầu tuyển dụng quốc tế
				p Là Mạng Việc làm & Tuyển dụng toàn cầu duy nhất tại Việt Nam, CareerBuilder.vn tự hào mang đến những giải pháp toàn diện cho nhu cầu tuyển dụng nhân tài từ khắp nơi trên thế giới. Việc tuyển dụng quốc tế của bạn trở nên dễ dàng hơn bao giờ hết với dịch vụ tiên tiến và mạng lưới toàn cầu tại hơn 60 quốc gia của chúng tôi. Bạn có thể đăng tải thông tin tuyển dụng của mình tại các nước có sự hiện diện của CareerBuilder, ngay từ Việt Nam.
				p 
					strong Chủ động kết nối với ứng viên nước ngoài
				p Cơ sở dữ liệu hồ sơ ứng viên ở các nước của CareerBuilder sẽ giúp bạn nhanh chóng kết nối và truy cập hơn hàng trăm triệu hồ sơ hoàn chỉnh và được cập nhật mới thường xuyên.
				.contact
					a(href="#").btn-gradient Liên hệ
		.section-content.cb-section#section-2
			h2.cb-title.cb-title-center Lợi ích
			.main-attractive
				.row.attractive-list
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/21.png", alt="")
							.caption
								h3.title Dễ dàng kết nối với nhân tài ở nước ngoài thông qua CareerBuilder Việt Nam.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/32.png", alt="")
							.caption
								h3.title Hợp đồng và thủ tục thanh toán đơn giản: Chỉ cần một hợp đồng duy nhất cho tất cả các dịch vụ quốc tế mà bạn sử dụng của CareerBuilder.
