section.talent-driver-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				.left-content
					.container
						.box-content
							h1 Talent Driver
section.employer-nav
	.container
		//- .nav-mobile
		//- 	p Danh mục 
		//- 	em.mdi.mdi-chevron-down
		ul.list-menu
			li(data-menu="1").active
				a(href="javascript:void(0)") Tổng quan
			li(data-menu="2")
				a(href="javascript:void(0)") Lợi ích
			li(data-menu="3")
				a(href="javascript:void(0)") Liên hệ
			li(data-menu="4")
				a(href="javascript:void(0)") Cẩm nang tuyển dụng
section.employer-talent-driver
	.container
		.section-content.cb-section#section-1
			h2.cb-title.cb-title-center Tổng quan
			.full-content
				p 
					strong Giải pháp quảng bá thương hiệu tuyển dụng & Thu hút nhân tài
				p Talent Driver là giải pháp kết hợp giữa chuyên môn tuyển dụng và marketing được phát triển nhằm thu hút nhân tài và quảng bá thương hiệu tuyển dụng đến các ứng viên tiềm năng qua các kênh truyền thông trực tuyến.
				p 
					strong KHI NÀO SỬ DỤNG TALENT DRIVER
				ul 
					li Nhu cầu tuyển dụng 
						strong gấp
					li Tuyển dụng vị trí 
						strong khó
					li Nhu cầu 
						strong tuyển dụng nhiều người 
						| cho cùng một vị trí hoặc 
						strong nhiều vị trí 
						| cho một phòng ban
					li 
						strong Quảng bá sự kiện tuyển dụng 
						| hoặc 
						strong xây dựng thương hiệu 
						| tuyển dụng 
				.contact
					a(href="#").btn-gradient Liên hệ
				.bottom-content
					p 
						strong Tối ưu hóa hiệu quả tiếp cận và tuyển dụng nhân tài cùng Talent Driver!
					.button
						a(href="https://advertising.careerbuilder.vn/html/customer/cbvn/Talent_Driver_Media_Kit_VN.PDF" target="_blank").btn-download
							strong Download Talent Driver Sales Kit
		.section-content.cb-section#section-2
			h2.cb-title.cb-title-center Lợi ích
			.full-content
				.image
					img(src="https://images.careerbuilder.vn/content/Product/TD VIE.JPG", alt="")
section.employer-targeted-email-why.section-content#section-3
	.container
		h2.cb-title.cb-title-center.mt-4 Liên hệ
		.row.list-why-bottom
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i20.png" alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.28 3822 6060") +84.28 3822 6060
						p.email Email:
							a(href="mailto: sales@careerbuilder.vn") sales@careerbuilder.vn
						.button
							a(href="tel: +84.28 3822 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i21.png" alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.24 7305 6060") +84.24 7305 6060
						p.email Email:
							a(href="mailto: sales.north@careerbuilder.vn") sales.north@careerbuilder.vn
						.button
							a(href="tel: +84.24 7305 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
section.all-product-detail-handbook.section-content.cb-section#section-4
	.container
		h2.cb-title.cb-title-center Cẩm nang tuyển dụng
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<5; i++)
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/24.png", alt="")
								.caption
									.title 
										a(href="#") Nhật Bản nới lỏng tiêu chuẩn đối với các điều dưỡng viên nước ngoài 
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/37.png", alt="")
								.caption
									.title 
										a(href="#") 5 gạch đầu dòng cần ghi nhớ để tránh lãng phí ngân sách tuyển dụng của doanh nghiệp
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/38.png", alt="")
								.caption
									.title 
										a(href="#") Những điểm mạnh của việc tuyển dụng ứng viên do nhân viên đang làm giới thiệu
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/39.png", alt="")
								.caption
									.title 
										a(href="#") Đa dạng trong lựa chọn nghề nghiệp với 17.000 việc làm trên CareerBuilder.vn
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
			.main-page
				.swiper-pagination
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
