section.employer-number
    .container
        ul.list-number
            li 
                .number(data-number="200")
                    span 200
                    p M+
                p.title Ứng viên trên toàn thế giới
            li 
                .number(data-number="300")
                    span 300
                    p K+
                p.title Tập đoàn toàn cầu sử dụng CareerBuilder
            li 
                .number(data-number="2")
                    span 2
                    p M+
                p.title Việc làm mỗi ngày 
            li 
                .number(data-number="14000")
                    span 14
                    p K+
                p.title Doanh nghiệp hàng đầu Việt Nam