section.manager-fl
    .container
        .popup__themtag
            .popup__ttbox
                .popup__themtag--close
                    button.close(type='button', aria-label='Close')
                        span.material-icons
                            | close
                .popup__themtag--text 
                    img(src="img/employer/p1.png", alt="")
                    h3 bạn chưa đăng ký dịch vụ
                    p Bạn chưa đăng ký dịch vụ. Vui lòng đăng ký dịch vụ ngay để việc tuyển dụng trở nên dễ dàng hơn.
                    button.buy(type='button') Hủy