section.employer-targeted-email-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/25.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/25.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h1 Talent referral
							br
							span Đa dạng nguồn ứng viên từ sự giới thiệu
						.link 
							a(href="#") Tìm hiểu ngay 
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/26.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/26.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 Talent referral
							br
							span Đa dạng nguồn ứng viên từ sự giới thiệu
						.link 
							a(href="#") Tìm hiểu ngay
section.employer-targeted-email-why.cb-section
	.container
		h2.cb-title.cb-title-center Những điểm nổi bật của 
			span Talent Referral
		.sub-title
			p Talent Referral là hệ thống được thiết kế đặc biệt giúp tự động hoá quy trình quản lý tuyển dụng ứng viên qua sự giới thiệu của nhân viên nội bộ.
		.row.list-why-top
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/tr/icon/CB icon_Ung vien chat luong.png", alt="")
					.caption
						h3.title Tiếp cận đúng đối tượng tiềm năng
						//- p.sub-title Employer Branding
						.content
							p Các quảng cáo về vị trí đang đăng tuyển hoặc các khoá giáo dục và đào tạo sẽ được gửi đến đúng những đối tượng phù hợp nhất với yêu cầu của từng doanh nghiệp.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/tr/icon/CB icon_Nguon chon loc ung vien da dang.png", alt="")
					.caption
						h3.title Tiết kiệm thời gian sàng lọc dữ liệu
						//- p.sub-title Employer Branding
						.content
							p Những gói dữ liệu chuyên biệt thiết lập từ hơn 700,000 hồ sơ sẵn có tại CareerBuilder.vn theo các tiêu chí như độ tuổi, ngành nghề, kỹ năng, …sẽ được phân loại theo từng yêu cầu cụ thể.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/tr/icon/CB icon_Tao gan ket voi nhan vien noi bo.png", alt="")
					.caption
						h3.title Xây dựng nguồn dữ liệu ứng viên cho hiện tại và tương lai
						//- p.sub-title Employer Branding
						.content
							p Thu hút ứng viên tiềm năng trở thành thành viên hâm mộ (fan) của doanh nghiệp thông qua mã nhúng “Join our Talent Network”.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/tr/icon/CB icon_Gia tang ti le giu chan nhan tai.png", alt="")
					.caption
						h3.title Nâng cao tương tác trong quá trình tuyển dụng giữa nhà tuyển dụng & ứng viên
						//- p.sub-title Employer Branding
						.content
							p Kết nối ứng viên bằng hệ thống email tương tác tự động, giúp tiết kiệm thời gian và chi phí nhân sự, nâng cao hình ảnh chuyên nghiệp của doanh nghiệp với ứng viên.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/tr/icon/CB icon_Day nhanh quy trinh tuyen dung.png", alt="")
					.caption
						h3.title Hệ thống quản lý quy trình tuyển dụng - ATS
						//- p.sub-title Application tracking System
						.content
							p Nâng cao hiệu quả quy trình tuyển dụng một cách toàn diện.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/tr/icon/CB icon_Chi tieu tuyen dung hop ly tiet kiem.png", alt="")
					.caption
						h3.title Nâng cao chất lượng quảng bá
						//- p.sub-title Return on Investment
						.content
							p Việc tiếp cận đúng đối tượng mục tiêu sẽ giúp tiết kiệm chi phí nhưng vẫn gia tăng hiệu ứng quảng cáo so với các hình thức gửi email đại trà khác.
		h2.cb-title.cb-title-center.mt-4 Trải nghiệm hiệu quả tăng nguồn ứng viên tiềm năng với 
			span Talent Referral
		.row.list-why-bottom
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i20.png", alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.28 3822 6060") +84.28 3822 6060
						p.email Email:
							a(href="mailto: sales@careerbuilder.vn") sales@careerbuilder.vn
						.button
							a(href="tel: +84.28 3822 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i21.png", alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.24 7305 6060") +84.24 7305 6060
						p.email Email:
							a(href="mailto: sales.north@careerbuilder.vn") sales.north@careerbuilder.vn
						.button
							a(href="tel: +84.24 7305 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
section.employer-targeted-email-template.cb-section
	.container
		h2.cb-title.cb-title-center Thư viện giao diện tham khảo
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<10; i++)
						.swiper-slide
							.image
								a(href="#")
									img(src="https://images.careerbuilder.vn/content/template_ts/thumb/status_sample.png", alt="")
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
