section.all-product-benefit.cb-section
	.container
		h2.cb-title.cb-title-center Lợi ích khi tuyển dụng trên CareerBuilder.vn
		.row.list-benefit
			.col-sm-6.col-lg-3
				.benefit-item
					.icon
						img(src="./img/employer/i10.png", alt="")
					.content
						p Dễ dàng tìm kiếm ứng viên tiềm năng với hơn 4 triệu hồ sơ đa dạng ngành nghề.
			.col-sm-6.col-lg-3
				.benefit-item
					.icon
						img(src="./img/employer/i11.png", alt="")
					.content
						p Tự động đề xuất và gợi ý việc làm phù hợp cho ứng viên
			.col-sm-6.col-lg-3
				.benefit-item
					.icon
						img(src="./img/employer/i12.png", alt="")
					.content
						p Công cụ quản lý hồ sơ, quản lý ứng tuyển giúp tiết kiệm thời gian
			.col-sm-6.col-lg-3
				.benefit-item
					.icon
						img(src="./img/employer/i13.png", alt="")
					.content
						p Quảng cáo thông minh giúp tin tuyển dụng được phủ rộng trên toàn hệ thống
