section.employer-choose
    .flex-img
        .image
            img(src="./img/employer/3.png", alt="")
    .box-content
        h2.cb-title Chọn CareerBuilder.vn
        .content 
            p Tại Việt Nam, CareerBuilder.vn đã và đang là lựa chọn của hơn 14.000 doanh nghiệp hàng đầu với các ưu thế:
            ul 
                li Tiếp cận hiệu quả nhiều nguồn ứng viên tiềm năng hơn bất cứ trang tuyển dụng nào ở Việt Nam. Thông tin tuyển dụng được đăng tải rộng rãi trên các trang web lớn: CareerBuilder.vn, Talentnetwork.vn, VieclamIT.vn, VietnamSalary.vn
                li Hàng trăm ngàn hồ sơ ứng viên hoàn chỉnh và được cập nhật mới thường xuyên.
                li Thu hút ứng viên với các sự kiện quảng bá thương hiệu tuyển dụng.
                li Giải pháp kết nối, tuyển dụng và quản lý nhân tài Talent Solution - 200+ khách hàng
                li Giải pháp Talent Driver , Targeted Email Marketing , Talent Referra