section.employer-talen-solution-template.cb-section
	.container
		h2.cb-title.cb-title-center Một Số Template Tiêu Biểu
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<10; i++)
						.swiper-slide
							.image
								a(href="#")
									img(src="./img/employer/31.png", alt="")
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
