section.employer-targeted-email-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/25.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/25.png" alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h1 Targeted email marketing
							br
							span Nâng cao hiệu quả tiếp cận đối tượng tiềm năng
						.link 
							a(href="#") Tìm hiểu ngay 
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/26.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/26.png" alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 Targeted email marketing
							br
							span Nâng cao hiệu quả tiếp cận đối tượng tiềm năng
						.link 
							a(href="#") Tìm hiểu ngay
section.employer-targeted-email-why.cb-section
	.container
		h2.cb-title.cb-title-center Targeted Email Marketing
			br 
			| Nâng cao hiệu quả tiếp cận đối tượng tiềm năng
		.sub-title
			p Targeted Email Marketing (Quảng bá tập trung bằng thư điện tử) là giải pháp giúp nâng cao hiệu quả tiếp cận nhóm đối tượng tiềm năng thông qua phương thức gửi thư điện tử.
		.row.list-why-top
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/icon/icon_01.png" alt="")
					.caption
						h3.title Tiếp cận đúng đối tượng tiềm năng
						//- p.sub-title Employer Branding
						.content
							p Các quảng cáo về vị trí đang đăng tuyển hoặc các khoá giáo dục và đào tạo sẽ được gửi đến đúng những đối tượng phù hợp nhất với yêu cầu của từng doanh nghiệp.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/icon/icon_02.png" alt="")
					.caption
						h3.title Tiết kiệm thời gian sàng lọc dữ liệu
						//- p.sub-title Employer Branding
						.content
							p Những gói dữ liệu chuyên biệt thiết lập từ hơn 700,000 hồ sơ sẵn có tại CareerBuilder.vn theo các tiêu chí như độ tuổi, ngành nghề, kỹ năng, …sẽ được phân loại theo từng yêu cầu cụ thể.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/icon/icon_03.png" alt="")
					.caption
						h3.title Xây dựng nguồn dữ liệu ứng viên cho hiện tại và tương lai
						//- p.sub-title Employer Branding
						.content
							p Thu hút ứng viên tiềm năng trở thành thành viên hâm mộ (fan) của doanh nghiệp thông qua mã nhúng “Join our Talent Network”.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/icon/icon_04.png" alt="")
					.caption
						h3.title Nâng cao tương tác trong quá trình tuyển dụng giữa nhà tuyển dụng & ứng viên
						//- p.sub-title Employer Branding
						.content
							p Kết nối ứng viên bằng hệ thống email tương tác tự động, giúp tiết kiệm thời gian và chi phí nhân sự, nâng cao hình ảnh chuyên nghiệp của doanh nghiệp với ứng viên.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/icon/icon_05.png" alt="")
					.caption
						h3.title Hệ thống quản lý quy trình tuyển dụng - ATS
						//- p.sub-title Application tracking System
						.content
							p Nâng cao hiệu quả quy trình tuyển dụng một cách toàn diện.
			.col-lg-6
				.why-item
					.icon
						img(src="https://images.careerbuilder.vn/content/tn/icon/icon_06.png" alt="")
					.caption
						h3.title Nâng cao chất lượng quảng bá
						//- p.sub-title Return on Investment
						.content
							p Việc tiếp cận đúng đối tượng mục tiêu sẽ giúp tiết kiệm chi phí nhưng vẫn gia tăng hiệu ứng quảng cáo so với các hình thức gửi email đại trà khác.
		h2.cb-title.cb-title-center.mt-4 Tiếp cận hiệu quả đối tượng tiềm năng với 
			span Targeted Email Marketing
		.row.list-why-bottom
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i20.png" alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.28 3822 6060") +84.28 3822 6060
						p.email Email:
							a(href="mailto: sales@careerbuilder.vn") sales@careerbuilder.vn
						.button
							a(href="tel: +84.28 3822 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i21.png" alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.24 7305 6060") +84.24 7305 6060
						p.email Email:
							a(href="mailto: sales.north@careerbuilder.vn") sales.north@careerbuilder.vn
						.button
							a(href="tel: +84.24 7305 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
section.employer-targeted-email-template.cb-section
	.container
		h2.cb-title.cb-title-center Thư viện giao diện email tham khảo
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<10; i++)
						.swiper-slide
							.image
								a(href="#")
									img(src="https://images.careerbuilder.vn/content/template_ts/thumb/a1.jpg" alt="")
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
