include ../job-item/index.pug
.row
	.col-xl-12.col-xxl-6
		.job-item
			a(href="#")
				.figure
					.image
						img(src='./img/brand-logo/4.png', alt="")
					.figcaption
						.new
							font(color="#ff0000") NEW
						.title.is-red
							h3 HR Admin Officer (Factory Bình Duong)
						.caption
							p.company-name FrieslandCampina Vietnam
							p.salary 
								em.fa.fa-usd
								| Lương: 500 - 1.000 USD
							.location
								em.mdi.mdi-map-marker
								ul
									li Ho Chi Minh City
									li Ha Noi
		.job-item
			a(href="#")
				.figure
					.image
						img(src='./img/brand-logo/4.png', alt="")
					.figcaption
						.new
							font(color="#ff0000") NEW
						.title.is-orange
							h3 HR Admin Officer (Factory Bình Duong)
						.caption
							p.company-name FrieslandCampina Vietnam
							p.salary 
								em.fa.fa-usd
								| Lương: 500 - 1.000 USD
							.location
								em.mdi.mdi-map-marker
								ul
									li Ho Chi Minh City
		.job-item
			a(href="#")
				.figure
					.image
						img(src='./img/brand-logo/4.png', alt="")
					.figcaption
						.new
							font(color="#ff0000") NEW
						.title.is-blue
							h3 HR Admin Officer (Factory Bình Duong)
						.caption
							p.company-name FrieslandCampina Vietnam
							p.salary 
								em.fa.fa-usd
								| Lương: 500 - 1.000 USD
							.location
								em.mdi.mdi-map-marker
								ul
									li Ho Chi Minh City
		-for(x=0; x<2; x++)
			.job-item
				a(href="#")
					.figure
						.image
							img(src='./img/brand-logo/4.png', alt="")
						.figcaption
							.timeago
								span Hôm nay
							.title
								h3 HR Admin Officer (Factory Bình Duong)
							.caption
								p.company-name FrieslandCampina Vietnam
								p.salary $ 500 - 1.000 USD
								.location
									ul
										li Ho Chi Minh City
	.col-xl-12.col-xxl-6
		-for(x=12; x<17; x++)
			.job-item
				a(href="#")
					.figure
						.image
							img(src='./img/brand-logo/4.png', alt="")
						.figcaption
							.timeago
								span Hôm nay
							.title
								h3 HR Admin Officer (Factory Bình Duong)
							.caption
								p.company-name FrieslandCampina Vietnam
								p.salary $ 500 - 1.000 USD
								.location
									ul
										li Ho Chi Minh City
