include ../job-item/index.pug
section.jobs-side-list
	//- .applied-job-list
	//- 	+job-side-item-has-background('./img/brand-logo/1.png')
	//- 	+job-side-item-premium('./img/brand-logo/2.png')
	.jobs-list
		+job-side-item-orange-title('./img/home/1.png')
		+job-side-item-red-title('./img/home/1.png')
		+job-side-item('./img/home/1.png')
		+job-side-item('./img/home/1.png')
		+job-side-item('./img/home/1.png')
		+job-side-item('./img/home/1.png')
		+job-side-item('./img/home/1.png')
		+job-side-item('./img/home/1.png')
	.load-more
		a(href="#" target="_blank") View more