include ../job-item/index.pug
.row
	.col-xl-12.col-xxl-6
		-for(x=0; x<8; x++)
			.job-item
				.figure
					.image
						a(href="#")
							img(src="./img/brand-logo/2.png", alt="")
					.figcaption
						.title
							a(href="#" ) Sales Manager - Power Engine Sales Manager - Power Engine Sales Manager - Power Engine Sales Manager - Power Engine Sales Manager - Power Engine Sales Manager - Power Engine
							span.new 
								font(color: #ff0000) (MỚI)
						.caption
							.company-name
								a(href="#" ) DKSH Vietnam Co., Ltd.
								
							p.salary 
								em.fa.fa-usd 
								| Lương: 500 - 1.000 USD
							.location
								em.mdi.mdi-map-marker
								ul 
									li Ha Noi
									li Ho Chi Minh City
					
				.bottom-right-icon
					ul
						li
							a(href="https://www.youtube.com/watch?v=EngW7tLk6R8" data-fancybox="").play-video
								span.mdi.mdi-play-circle-outline
								span.text Video
						li
							a(href="javascript:;").save-job
								span.mdi.mdi-heart-outline
								span.text Save job
					.time
						em.mdi.mdi-calendar
						time 05/01/2020
						.toolip
							p Ngày cập nhập
	.col-xl-12.col-xxl-6
		-for(x=12; x<20; x++)
			.job-item
				.figure
					.image
						a(href="#" )
							img(src="./img/brand-logo/2.png", alt="Sales Manager")
					.figcaption
						.title
							a(href="#" ) Sales Manager - Power Engine Sales Manager - Power Engine Sales Manager - Power Engine
							span.new 
								font(color: #ff0000) (MỚI)
						.caption
							.company-name
								a(href="#" ) DKSH Vietnam Co., Ltd.
								
							p.salary 
								em.fa.fa-usd 
								| Lương: 500 - 1.000 USD
							.location
								em.mdi.mdi-map-marker
								ul 
									li Ha Noi
									li Ho Chi Minh City
					
				.bottom-right-icon
					ul
						li
							a(href="https://www.youtube.com/watch?v=EngW7tLk6R8" data-fancybox="").play-video
								span.mdi.mdi-play-circle-outline
								span.text Video
						li
							a(href="javascript:;").save-job
								span.mdi.mdi-heart-outline
								span.text Save job
					.time
						em.mdi.mdi-calendar
						time 05/01/2020
						.toolip
							p Ngày cập nhập
