include ../job-item/index.pug
.row
    .col-xl-12.col-xxl-6
        -for(x=0; x<8; x++)
            +job-item-has-welfare-db
    .col-xl-12.col-xxl-6
        -for(x=0; x<8; x++)
            +job-item-has-welfare-db
