
section.popup
    .container
        .row 
            .col-4.mx-auto
                .success-box
                    .success-header 
                        img(src="./img/icon-success.png", alt="")
                    .success-content
                        h2.section-title Thông báo 
                        p.section-content Đăng lại thành công
                    .success-button
                        button.btn-check OK