section.all-product-detail-1.cb-section(style="background-image: url('./img/employer/bg-2.png')")
	.container
		h2.cb-title.cb-title-center Quảng bá tin tuyển dụng để chủ động tiếp cận hàng triệu ứng viên tiềm năng. 
			br 
			| Tìm hiểu thêm để Quảng bá thông tin hiệu quả hơn
		.button
			a(href="#") tìm hiểu ngay
section.all-product-detail-2.cb-section(style="background-image: url('./img/employer/bg-3.png')")#section-3
	.container
		.row
			.col-lg-6
				.image.popup-video
					a(href="https://www.youtube.com/watch?v=tRuakbhD0us" data-fancybox="")
						img(src="./img/employer/22.png", alt="")
			.col-lg-6
				h2.cb-title Đăng tuyển nhanh gấp 5 lần
				.content
					p Chỉ cần nhập một tiêu đề công việc và AI của chúng tôi sẽ viết liên quan về yêu cầu, giới tính và mô tả công việc, tận dụng 2 tỷ điểm dữ liệu. Ngoài ra, phần mềm của chúng tôi còn đánh giá sự hấp dẫn ứng viên với công việc của bạn và cung cấp cấp đề xuất để cải thiện, làm tăng sự nộp đơn lên đến 175%. Chỉ cần nhập một tiêu đề công việc và AI của chúng tôi sẽ viết liên quan về yêu cầu, giới tính và mô tả công việc, tận dụng 2 tỷ điểm dữ liệu. Ngoài ra, phần mềm của chúng tôi còn đánh giá sự hấp dẫn ứng viên với công việc của bạn và cung cấp cấp đề xuất để cải thiện, làm tăng sự nộp đơn lên đến 175%.
