footer
	.container
		section.top-footer.cb-section.cb-section-border-bottom
			.row
				.col-lg-12.logo
					img(src="./img/logo.png", alt="")
				.col-lg-2.col-sm-6
					.footer-links
						h3 JOB SEEKERS
						ul
							li
								a(href="#") New Jobs
							li
								a(href="#") CVHay
							li
								a(href="#") VietnamSalary
							li
								a(href="#") CareerMap
							li
								a(href="#") Talent Community
							li
								a(href="#") IT Blogs
							li
								a(href="#") Site Map
				.col-lg-2.col-sm-6
					.footer-links
						h3 Employers
						ul
							li
								a(href="#") Post Jobs
							li
								a(href="#") Resume Database
							li
								a(href="#") Talent Solution
							li
								a(href="#") Browse Products
				.col-lg-2.col-sm-6
					.footer-links
						h3 HELP CENTER
						ul
							li
								a(href="#") About CareerBuilder
							li
								a(href="#") Privacy Policy
							li
								a(href="#") GDPR Policy
							li
								a(href="#") E-Commerce Regulations
							li
								a(href="#") Terms of use
							li
								a(href="#") Customer Support
				.col-lg-2.col-sm-6
					.footer-links
						h3 CUSTOMER SUPPORT
						ul
							li
								a(href="#") Vieclam.Tuoitre.vn
							li
								a(href="#") Vieclam.Vietnamnet.vn
							li
								a(href="#") Vieclam.Thanhnien.vn
							li
								a(href="#") VieclamIT.vn
							li
								a(href="#") ICT News
							li
								a(href="#") Contact Us
				.col-lg-4.col-12
					.footer-app-links
						h3 Search on the go
						.app-links
							a(href="#")
								img(src="./img/apple.png", alt="")
							a(href="#")
								img(src="./img/android.png", alt="")
					.footer-social-links
						h3 Stay connected
						ul
							li
								a(href="#") 
									span.fa.fa-facebook
							li
								a(href="#") 
									span.fa.fa-linkedin
							li
								a(href="#") 
									span.fa.fa-youtube-play
		section.bottom-footer
			.left-bottom-footer
				p Head Office: 6th Floor, 139 Pasteur, Ward 6, District 3, Ho Chi Minh City  - Tel: (84.28) 3822 6060 
				p Hanoi Office: 17th Floor, VIT Tower, 519 Kim Ma Street, Ba Dinh District, Ha Noi
				p Email: contact@careerbuilder.vn
				p Copyright © CareerBuilder Vietnam.
			.right-bottom-footer
				img(src="./img/dk.png", alt="")
