section.faq2
    .container
        .faq2__box
            section.faq-content
                h2.section-title Trợ giúp nhà tuyển dụng
                p.section-content CareerBuilder có thể giúp gì cho bạn?
                form
                    input(type="text" placeholder="Nhập từ khóa")
                    button.btn-timkiem
                        span.material-icons search
                        | Tìm kiếm
            section.faq2__thongtin
                .row
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 01. Quản lý tài khoản
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm thế nào để đăng ký tài khoản mới? 
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để thay Đổi email đăng ký tài khoản?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Tôi phải làm gì khi quên Mật khẩu đăng nhập?
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 01. Quản lý tài khoản
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm thế nào để đăng ký tài khoản mới? 
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để thay Đổi email đăng ký tài khoản?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Tôi phải làm gì khi quên Mật khẩu đăng nhập?
            section.faq2__thongtin
                .row
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 03. Quản lý đơn hàng
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để kích hoạt dịch vụ “Tìm kiếm hồ sơ ứng viên” trên Careerbuilder.vn?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để quản lý tất cả đơn hàng dịch vụ tại Careerbuilder.vn?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Hướng dẫn cách mua hàng trên CareerBuilder.Vn?
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 04. Quản lý đăng tuyển
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để tôi tìm thấy ứng viên và thông tin liên hệ của ứng viên trên trang Careerbuilder.vn?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để tôi tìm đánh giá một hồ sơ ứng viên trên trang Careerbuilder.vn?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Careerbuilder.vn có chủ động gửi email thông báo cho tôi khi có hồ sơ ứng viên phù hợp với tiêu chí tìm kiếm của tôi hay không? và làm thế nào để thiết lập?              
            section.faq2__thongtin
                .row
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 05. Quản lý đơn hàng
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để kích hoạt dịch vụ “Tìm kiếm hồ sơ ứng viên” trên Careerbuilder.vn?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để quản lý tất cả đơn hàng dịch vụ tại Careerbuilder.vn?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Hướng dẫn cách mua hàng trên CareerBuilder.Vn?
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 06. Quản lý nội dung yêu cầu
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để tôi đăng ký dịch vụ Email Marketing?

                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao sử dụng được ưu đãi chiến dịch email marketing theo chương trình CareerBuilder Rewards
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Những ưu điểm khi sử dụng dịch vụ Email Marketing của Careerbuilder.vn ?
                            a(href="").showmore
                                | Xem thêm
                                span.material-icons
                                    | expand_more    
            section.faq2__thongtin
                .row
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 07. Quản lý Tìm kiếm
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Kích hoạt gói xem hồ sơ
                            li.item
                                span.material-icons.faq2__thongtin--icon 
                                    | description
                                a(href="").faq2__thongtin--text Tìm kiếm hồ sơ
                            li.item
                                span.material-icons.faq2__thongtin--icon 
                                    | description
                                a(href="").faq2__thongtin--text Tại sao tôi không xem được hồ sơ ứng viên?
                            li.item
                                span.material-icons.faq2__thongtin--icon 
                                    | description
                                a(href="").faq2__thongtin--text Xác định mức điểm cho mỗi hồ sơ ứng viên
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Cách tạo thư mục để lưu hồ sơ
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Xem lại lịch sử của các gói tìm kiếm hồ sơ
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Không thể kích hoạt gói Xem hồ sơ
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm thế nào để lưu lại hồ sơ ứng viên?
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Cách nhận biết hồ sơ ứng viên đã xem/ đã mua
                        a(href="").showmore
                            | Thu gọn
                            span.material-icons
                                | expand_less
                    .col-sm-12.col-md-6
                        h2.faq2__thongtin--title 08. Hỗ trợ kỹ thuật
                        ul.items
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao để tôi đăng ký dịch vụ Email Marketing?

                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Làm sao sử dụng được ưu đãi chiến dịch email marketing theo chương trình CareerBuilder Rewards
                            li.item
                                span.material-icons.faq2__thongtin--icon
                                    | description
                                a(href="").faq2__thongtin--text Những ưu điểm khi sử dụng dịch vụ Email Marketing của Careerbuilder.vn ?
                        
