section.employer-talent-solution-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/25.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/25.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h1 giải pháp kết nối - tuyển dụng & quản lý nhân tài
						//- .content
						//- 	p Website tuyển dụng toàn cầu duy nhất tại Việt Nam!
						//- 	p Hơn 12 triệu lượt xem mỗi tháng
						//- 	p Hơn 20.000 ứng viên mới gia nhập hàng tháng
						.link 
							a(href="#") khám phá thêm 
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/26.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/26.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 giải pháp kết nối - tuyển dụng & quản lý nhân tài
						//- .content
						//- 	p Bạn có thời gian và ngân sách hạn chế. Chúng tôi có các giải pháp giá cả phải chăng có thể theo kịp bạn và các tiêu chuẩn của bạn.
						.link 
							a(href="#") khám phá thêm
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/27.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/27.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2.white(style="color: #ffffff") giải pháp kết nối - tuyển dụng & quản lý nhân tài
						//- .content
						//- 	p Bạn có thời gian và ngân sách hạn chế. Chúng tôi có các giải pháp giá cả phải chăng có thể theo kịp bạn và các tiêu chuẩn của bạn.
						.link 
							a(href="#") khám phá thêm
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/28.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/28.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 giải pháp kết nối - tuyển dụng & quản lý nhân tài
						//- .content
						//- 	p Bạn có thời gian và ngân sách hạn chế. Chúng tôi có các giải pháp giá cả phải chăng có thể theo kịp bạn và các tiêu chuẩn của bạn.
						.link 
							a(href="#") khám phá thêm
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/29.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/29.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 giải pháp kết nối - tuyển dụng & quản lý nhân tài
						//- .content
						//- 	p Bạn có thời gian và ngân sách hạn chế. Chúng tôi có các giải pháp giá cả phải chăng có thể theo kịp bạn và các tiêu chuẩn của bạn.
						.link 
							a(href="#") khám phá thêm
