section.db-s1
    .container
        .row.sec1
            .col-lg-6.col-xl-3
                .db-s1__box
                    h3.db-s1__box--title Thông tin tài khoản
                    .db-s1__body
                        h4.db-s1__box--name HANA đào 
                        p.db-s1__box--chucvu Red diamond
                        .db-s1__box--but
                            p.db-s1__box--but-1 20
                            p.db-s1__box--but-2 Hồ sơ ứng tuyển mới
                        .db-s1__box--but
                            p.db-s1__box--but-1 20
                            p.db-s1__box--but-2 Hồ sơ ứng tuyển mới
                        .db-s1__box--but
                            p.db-s1__box--but-1 20
                            p.db-s1__box--but-2 Hồ sơ ứng tuyển mới
            .col-lg-6.col-xl-3
                .db-s1__box
                    h3.db-s1__box--title Quản lý tìm kiếm
                    .db-s1__body.p-0
                        .db-s1__body--qltk.bb-1
                            p.db-s1__body--qltk-so 1000
                            p.db-s1__body--qltk-text Credits cho 179 ngày
                        .db-s1__body--qltk
                            p.db-s1__body--qltk-so 1000
                            p.db-s1__body--qltk-text Credits cho 179 ngày

            .col-lg-6.col-xl-3
                .db-s1__box
                    h3.db-s1__box--title Quản lý đăng tuyển
                    .db-s1__body.p-0
                        .db-s1__body--qldt.bb-1
                            span.db-s1__body--qldt-so.green 46
                            p.db-s1__body--qldt-text Việc làm đang tăng
                        .db-s1__body--qldt.bb-1
                            span.db-s1__body--qldt-so.blue 10
                            p.db-s1__body--qldt-text Việc làm chờ đăng
                        .db-s1__body--qldt.bb-1
                            span.db-s1__body--qldt-so.organe 21
                            p.db-s1__body--qldt-text Việc làm tạm ngưng
                        .db-s1__body--qldt
                            span.db-s1__body--qldt-so.red 43
                            p.db-s1__body--qldt-text Việc làm hết hạn


            .col-lg-6.col-xl-3
                .db-s1__box
                    h3.db-s1__box--title Quản lý hoạt động
                    .db-s1__body.p-0
                        .db-s1__body--qlhd
                            p.db-s1__body--qlhd-date 02/06/2020
                            p.db-s1__body--qlhd-text Employer. Post Job: ID#: 953976 - Code: BA01 - Title: Business Analyst Leader. Post from: CB.vn
                        .db-s1__body--qlhd
                            p.db-s1__body--qlhd-date 02/06/2020
                            p.db-s1__body--qlhd-text Employer. Unposting Job: Unposting Job: Job  ID = 522817
                        .db-s1__body--qlhd
                            p.db-s1__body--qlhd-date 02/06/2020
                            p.db-s1__body--qlhd-text Employer. Reposting Job: Reposting Job: Job  ID = 522817
                        .db-s1__body--qlhd
                            a(href="") Xem thêm
        .row.sec2
            .col-sm-12.col-md-6
                .db-s2__box
                    h1.db-s2__box--title Biểu đồ tuyển dụng
                    .db-s2__box--select
                        form(action="")
                            .form-group
                                select(name="").select-date
                                    option(value="Jul 1, 2020 - 31 Jul, 2020") Jul 1, 2020 - 31 Jul, 2020
                    .db-s2__box--chart
                        #mychart4(style='height: 100%; width: 100%;')
            .col-sm-12.col-md-6
                .db-s2__box
                    h1.db-s2__box--title Biểu đồ ứng viên
                    .db-s2__box--select
                        form(action="")
                            .form-group
                                select(name="").select-date
                                    option(value="Jul 1, 2020 - 31 Jul, 2020") Jul 1, 2020 - 31 Jul, 2020
                    .db-s2__box--chart
                        canvas#myChart
                        <div id="js-legend1" class="chart-legend"></div>
        .row.sec2
            .col-sm-12.col-md-6
                .db-s2__box
                    h1.db-s2__box--title Biểu đồ tuyển dụng & ứng tuyển
                    .db-s2__box--select
                        form(action="")
                            .form-group
                                select(name="").select-date
                                    option(value="Jul 1, 2020 - 31 Jul, 2020") Jul 1, 2020 - 31 Jul, 2020
                    .db-s2__box--chart
                        canvas#myChart2
                        <div id="js-legend2" class="chart-legend chart-2"></div>
            .col-sm-12.col-md-6
                .db-s2__box
                    h1.db-s2__box--title Biểu đồ tuyển dụng theo cấp bậc
                    .db-s2__box--select
                        form(action="")
                            .form-group
                                select(name="").select-date
                                    option(value="Jul 1, 2020 - 31 Jul, 2020") Jul 1, 2020 - 31 Jul, 2020     
                    .db-s2__box--chart.chart-3
                        canvas#myChart3   
                        <div id="js-legend" class="chart-legend"></div>
        .row
            .col-12
                .db__end
                    h3.db__end--title nhân viên tư vấn
                    p.db__end--text 
                        b
                            | Trang Nguyễn (Jane) 
                        |- Group Account Manager
                    p.db__end--text
                        | Tel: (84.28) 3822 6060 - Ext: 263
                    p.db__end--text
                        | Mobile: 0918 11 55 90
                    p.db__end--text
                        | Email: test.pham@gmaill.com
                        span
                            |Phiên đăng nhập gần đây nhất: 31/07/2020

