section.all-product-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/18.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/18.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h1 Sát cánh tuyển dụng cùng doanh nghiệp
						.content
							p Chúng tôi đồng hành cùng sự phát triển của doanh nghiệp thông qua dịch vụ tuyển dụng nhân sự chuyên nghiệp nhất
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/2.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/2.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 Các giải pháp tuyển dụng phù hợp với bạn
						.content
							p Bạn có thời gian và ngân sách hạn chế. Chúng tôi có các giải pháp giá cả phải chăng có thể theo kịp bạn và các tiêu chuẩn của bạn.
