section.all-product-detail-attractive.cb-section#section-1
	.container
		h2.cb-title.cb-title-center Thu hút và xây dựng một đội ngũ nhân tài vững mạnh
		.sub-title
			p Dịch vụ đăng tuyển dành cho doanh nghiệp với nhiều gói tiện ích cơ bản và nâng cao, phù hợp với các nhu cầu tuyển dụng và loại hình công ty khác nhau.
		.main-attractive
			.row.attractive-list
				.col-md-6
					.attractive-item
						.image
							img(src="./img/employer/21.png", alt="")
						.caption
							h3.title Không giới hạn độ dài mẫu tuyển dụng
							.des 
								p Đăng tuyển của nhà tuyển dụng không bị giới hạn về số lượng từ ngữ giúp thông tin cần gửi gắm đến ứng viên được truyền đạt đầy đủ nhất.
				.col-md-6
					.attractive-item
						.image
							img(src="./img/employer/32.png", alt="")
						.caption
							h3.title Linh hoạt và tiết kiệm
							.des 
								p Nhiều gói đăng tuyển đa dạng và giúp nhà tuyển dụng tiết kiệm đến 58% chi phí với quyền lợi sử dụng linh hoạt trong thời hạn 1 nằm
				.col-md-6
					.attractive-item
						.image
							img(src="./img/employer/33.png", alt="")
						.caption
							h3.title Nội dung được tùy chỉnh linh hoạt
							.des 
								p Khi có bất kì chi tiết nào cần chỉnh sửa, nhà tuyển dụng có thể dễ dàng cập nhật và thay đổi trong suốt thời gian đăng tuyển
				.col-md-6
					.attractive-item
						.image
							img(src="./img/employer/34.png", alt="")
						.caption
							h3.title Thêm lợi ích, không thêm phụ thu
							.des 
								p Ngoài việc hiển thị trên CareerBuilder.vn, vị trí hỗ trợ đăng tuyển còn được hỗ trợ đăng trên các cổng thông tin việc làm hợp tác trong 30 ngày
				.col-md-6
					.attractive-item
						.image
							img(src="./img/employer/35.png", alt="")
						.caption
							h3.title Có sẵn thư viện mẫu đăng tuyển
							.des 
								p Thư viện mẫu đăng tuyển sẵn có với nhiều giao diện thu hút, giúp nhà tuyển dụng dễ dàng hoàn thiện các mô tả 1 cách chuyên nghiệp
				.col-md-6
					.attractive-item
						.image
							img(src="./img/employer/36.png", alt="")
						.caption
							h3.title Phần mềm HRCentral hỗ trợ toàn diện
							.des 
								p Toàn bộ hồ sơ ứng tuyển từ ứng viên nhanh chóng được phân loại và quản lý chuyên nghiệp trong HRCentral, giúp việc sàng lọc và theo dõi quá trình ứng tuyển
