header.header-vietnam-salary
	.container-fluid
		.main-wrap
			.left-wrap
				.button-hambuger
					span.mdi.mdi-menu
				.logo
					a(href="/")
						img(src="./img/vn-salary/logo.png" alt="")
				.main-menu
					ul.menu
						li.active
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Mức lương theo ngành nghề
						li
							a(href="javascript:void(0)") Blogs
						li
							a(href="javascript:void(0)") Testimonial
			.right-wrap
				.main-login.dropdown
					.title-login
						a(href="#")
							span.mdi.mdi-account-circle
							| Đăng nhập
					.dropdown-menu
						.login-wrapper
							form
								.row
									.form-group.col-12
										input(type="text", placeholder="Enter your email")
									.form-group.col-8
										input(type="text", placeholder="Enter your password")
									.form-group.col-4
										button(type="submit") Sign in
									.form-group.form-check.col-12
										input(type="checkbox", name="")
										label Automatically sign me on next time
								a(href="#").forget-password Forget password
							.sign-in-by
								span Sign in by:
								ul
									li
										a(href="#")
											i.fa.fa-facebook-official
									li
										a(href="#")
											i.fa.fa-linkedin-square
									li
										a(href="#")
											i.fa.fa-google-plus-square
				.main-register
					a(href="#") Đăng ký
				.main-language.dropdown
					.dropdown-toggle
						p VN
							em.mdi.mdi-chevron-down
					.dropdown-menu
						.item.active
							a(href="javascript:void(0)").dropdown-item VN
						.item
							a(href="javascript:void(0)").dropdown-item EN

	.mobile-menu
		.mobile-wrap
			.header-logo
				a(href="/")
					img(src="./img/logo.png" alt="")
			.header-bottom
				.header-bottom-top
					.profile
						.avatar
							a(href="#")
								img(src="./img/user_circle.png", alt="")
						.username
							a(href="#") welcome to VietNam Salary
						.back-menu-normal
							em.mdi.mdi-arrow-left
					.menu
						ul.menu-normal
							li.active
								a(href="#")
									i.mdi.mdi-home-outline
									| Trang chủ
							li
								a(href="#")
									i.mdi.mdi-magnify
									| Mức lương theo ngành nghề
							li
								a(href="#")
									i.mdi.mdi-file-document-edit-outline
									| Blogs
							li
								a(href="#")
									i.mdi.mdi-currency-usd
									| Testimonial
					.authentication-links
						ul
							li
								a(href="#")
									i.mdi.mdi-login-variant
									| Đăng nhập
							li
								a(href="#")
									i.mdi.mdi-account-plus-outline
									| Đăng ký
				.header-bottom-bottom
					//- a(href="#")
					//- 	.employer-site
					//- 		h4 Employers Site
					//- 		p Post job, Search resume
					.header-alert
						ul
							//- li
							//- 	a(href="#")
							//- 		i.mdi.mdi-bell-outline
							//- 		span Job Alert
							li
								a(href="#")
									i.mdi.mdi-web
									span English
	.backdrop
