section.cb-section.career-development
	.container
		.cb-title.cb-title-center
			h2 Career Development & Learning
		.career-development-slide
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item.bg-trends
							.img
								a(href="#")
									img(src="./img/career/1.jpg", alt="").swiper-lazy
									.swiper-lazy-preloader
							.caption
								p.category-title Job Trends
								a(href="#").title Old questions that are difficult to answer "What is your weakest point?"
					.swiper-slide
						.item.bg-tips
							.img
								a(href="#")
									img(src="./img/career/2.jpg", alt="").swiper-lazy
									.swiper-lazy-preloader
							.caption
								p.category-title Job hunting Tips
								a(href="#").title You choose monochrome or multicolored profile?
					.swiper-slide
						.item.bg-self
							.img
								a(href="#")
									img(src="./img/career/3.jpg", alt="").swiper-lazy
									.swiper-lazy-preloader
							.caption
								p.category-title Self Development
								a(href="#").title Important questions for the career you should ask yourself
					.swiper-slide
						.item.bg-default
							.img
								a(href="#")
									img(src="./img/career/4.jpg", alt="").swiper-lazy
									.swiper-lazy-preloader
							.caption
								p.category-title Job Trends
								a(href="#").title You choose monochrome or multicolored profile?
					.swiper-slide
						.item.bg-self
							.img
								a(href="#")
									img(src="./img/career/2.jpg", alt="").swiper-lazy
									.swiper-lazy-preloader
							.caption
								p.category-title Self Development
								a(href="#").title Important questions for the career you should ask yourself
					.swiper-slide
						.item.bg-default
							.img
								a(href="#")
									img(src="./img/career/3.jpg", alt="").swiper-lazy
									.swiper-lazy-preloader
							.caption
								p.category-title Job Trends
								a(href="#").title You choose monochrome or multicolored profile?
			.swiper-prev
				span.lnr.lnr-chevron-left
			.swiper-next
				span.lnr.lnr-chevron-right
		.view-more
			a(href="#") View more
				span.mdi.mdi-arrow-right