section.employer-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/1.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/1.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h1 Nghĩ nhân tài - Nghĩ Career Builder.vn
						.content
							p Website tuyển dụng toàn cầu duy nhất tại Việt Nam!
							p Hơn 12 triệu lượt xem mỗi tháng
							p Hơn 20.000 ứng viên mới gia nhập hàng tháng
						.link 
							a(href="#") Xem thêm 
							a(href="#") Đăng tuyển dụng
			.swiper-slide
				.banner-pc
					.image
						img(src="./img/employer/2.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="./img/employer/2.png", alt="").swiper-lazy
						.swiper-lazy-preloader
				.container
					.box-content
						h2 Các giải pháp tuyển dụng phù hợp với bạn
						.content
							p Bạn có thời gian và ngân sách hạn chế. Chúng tôi có các giải pháp giá cả phải chăng có thể theo kịp bạn và các tiêu chuẩn của bạn.
						.link 
							a(href="#") Xem thêm
	.main-page
		.swiper-pagination
