
section.popup
    .container
        .row 
            .col-md-8.mx-auto
                .popup-box
                    button.btn-close X
                    h2.section-title.text MẪU QUẢNG CÁO ĐĂNG TUYỂN
                    .postjob-box-title 
                        button.collapsible.section-title Mô tả công việc
                        .postjob-collapse-content 
                            ul
                                li Biên soạn, quản lí nội dung (content) bằng bài viết, hình ảnh, video,.... để đăng lên Fanpage, Website và các kênh truyền thông khác trong hệ thống

                                li Chịu trách nhiệm xây dựng, phát triển nội dung truyền thông đạt hiệu quả cao: thực hiện chiến dịch/kế hoạch truyền thông nội bộ phù hợp bằng các chương trình, viết bài phóng sự các câu chuyện điển hình (những gương sáng trong kinh doanh, những nhãn tố tiềm năng...) nhằm tạo động lực làm việc, khuyến khích những tài năng vượt khó và phát triển ...
                                li Phối hợp với phòng Marketing phụ trách biên tập các ấn phẩm nội bộ, các tài liệu.
                                li Lên ý tưởng xây dựng, tổ chức các event nội bộ, các hoạt động tập thể nhằm tạo sự gắn kết trong tập thể cán bộ nhân viên. Phối hợp bộ phận xây dựng các buổi sinh hoạt, hoạt động nội bộ nhằm củng cố và nâng cao hình ảnh/ thương hiệu Công ty. Xây dựng môi trường làm việc gắn kết, chuyên nghiệp nhằm đem đến cho tất cả nhân viên niềm tin “Công ty là nơi làm việc tốt nhất”.
                                li Tổ chức các event mở bản, hội thảo, ký kết, gala,... quy mô vừa và lớn theo yêu cầu của BGD
                                li Lên ý tưởng sáng tạo, sản xuất và biên tập các nội dung truyền thông bài PR, thông cáo báo chí. Xây dựng, phát triển và duy trì mối quan hệ với các cơ quan báo chí, đài truyền hình, đối tác truyền thông; Thu thập, phân tích, đánh giá các thông tin, tin tức, báo cáo, khảo sát về ngành, thị trường, đối thủ và khách hàng;
                        button.collapsible.section-title yêu cầu công việc
                        .postjob-collapse-content 
                            ul 
                                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        button.collapsible.section-title Thông tin khác
                        .postjob-collapse-content 
                            ul 
                                li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        

