section.all-product-detail-handbook.cb-section
	.container
		h2.cb-title.cb-title-center Góc Talent Solution
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<5; i++)
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/43.png", alt="")
								.caption
									.title 
										a(href="#") Hợp đồng cộng tác viên được xem là hợp đồng dịch vụ
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/44.png", alt="")
								.caption
									.title 
										a(href="#") Hai giải pháp quản lý dữ liệu ứng viên mới nhất từ Talent Solution
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/45.png", alt="")
								.caption
									.title 
										a(href="#") Đa dạng trong lựa chọn nghề nghiệp với 17.000 việc làm trên CareerBuilder.vn
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
						.swiper-slide
							.handbook-item
								.image
									a(href="#")
										img(src="./img/employer/46.png", alt="")
								.caption
									.title 
										a(href="#") Đơn giản và tối ưu hoá mục tiêu nâng tầm thương hiệu tuyển dụng với Talent Solution
									.view-more
										a(href="#") 
											span Xem thêm 
											em.mdi.mdi-chevron-right
			.main-page
				.swiper-pagination
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
//- section.all-product-detail-hidden#section-6
