section.manager-fl
    .container
        .row
            .col-md-12.col-lg-8.mx-auto
                .popup__themtag
                    .popup__ttbox
                        .popup__themtag--close
                            button.close(type='button', aria-label='Close')
                                span.material-icons
                                    | close
                        .popup__themtag--text 
                            h2 Mẫu quảng cáo đăng tuyển
                            p.textup Để có thể tìm chính xác công việc cho các vị trí, vui lòng hoàn tất cả bước phân loại phía dưới
                            form(action="")
                                .row
                                    .col-6
                                        label(for="") Chọn ngôn ngữ
                                        select(name="")
                                            option(value="") Tiếng việt
                                .row
                                    .col-12
                                        .popup__selectPost
                                            .popup__selectPost--s
                                                .popup__selectPost--left
                                                    .popup__selectPost--tron
                                                        .xoe
                                                    .popup__selectPost--step
                                                        p Bước 1
                                                .popup__selectPost--box.sp-1
                                                    ul 
                                                        li.active Kế toán
                                                        li Quảng cáo - Tiếp thị - Đối ngoại
                                                        li Xây dựng - Sản xuất
                                                        li Dịch vụ Sáng tạo
                                                        li Dịch vụ khách hàng
                                                        li Giáo dục, Đào tạo, Thư viện
                                                        li Giáo dục, Đào tạo, Thư viện
                                                        li Giáo dục, Đào tạo, Thư viện
                                                        li Giáo dục, Đào tạo, Thư viện
                                                        li Giáo dục, Đào tạo, Thư viện
                                                .popup__selectPost--success.sp-1
                                                    img(src="img/employer/success-1.png", alt="")
                                                    p Hoàn tất
                                            .popup__selectPost--s.sp-2
                                                .popup__selectPost--left
                                                    .popup__selectPost--tron
                                                        .xoe
                                                    .popup__selectPost--step
                                                        p Bước 2
                                                .popup__selectPost--box.sp-2
                                                    ul 
                                                        li.active Kế toán tổng hợp
                                                        li Kiểm toán
                                                        li Quản lý kế toán
                                                .popup__selectPost--success.sp-2
                                                    img(src="img/employer/success-1.png", alt="")
                                                    p Hoàn tất
                                            .popup__selectPost--s
                                                .popup__selectPost--left
                                                    .popup__selectPost--tron
                                                        .xoe
                                                    .popup__selectPost--step
                                                        p Bước 3
                                                .popup__selectPost--box.sp-1
                                                    ul 
                                                        li.active Giám sát viên kế toán chi trả
                                                        li Giám sát viên kế toán thu
                                                        li Kế toán chi phí
                                                        li Kế toán tài chính
                                                        li Kế toán tài sản cố định
                                                        li Kế toán tổng hợp
                                                        li Kế toán tổng hợp
                                                        li Kế toán tổng hợp
                                                        li Kế toán tổng hợp
                                                        li Kế toán tổng hợp
                                                .popup__selectPost--success.sp-1
                                                    img(src="img/employer/success-1.png", alt="")
                                                    p Hoàn tất
                                .row
                                    .col-12
                                        .button-add-dc
                                            button.tdd(type='button') Không chọn
                                            button.success(type='button') Xem trước
                                            button.luu(type='button') Chọn

