section.faq-page
    .container
        section.faq-content
            h2.section-title Trợ giúp nhà tuyển dụng
            p.section-content CareerBuilder có thể giúp gì cho bạn?
            form
                input(type="text" placeholder="Nhập từ khóa")
                button.btn-timkiem
                    span.material-icons search
                    | Tìm kiếm
        section.faq-guide
            h2.section-title Làm thế nào để đăng ký tài khoản mới ?
            h3.section-title-child Tại trang 
                span “Dành cho Nhà tuyển dụng”
            p.section-content 01. Nhấp chọn 
                span “Đăng ký”
            .faq-guide-img
                img(src="./img/employer/faq/Layer_585.png", alt="")
            p.section-content 02.Nhập thông tin vào mẫu đăng ký, sau khi nhập email, nhấn vào link “Kiểm tra sự tồn tại của email” để kiểm tra email này đã đăng ký tài khoản chưa
            .faq-guide-img
                img(src="./img/employer/faq/Layer_586.png", alt="")
            p.section-content 03. Sau khi điền thông tin nhấn Tiếp tục để điền thông tin công ty
            .faq-guide-img
                img(src="./img/employer/faq/Layer_587.png", alt="")
            p.section-content 04. Nhấp chọn “Đăng ký”
            p.section-content 05. Sau khi đăng ký, kiểm tra email kích hoạt tài khoản được gửi từ CareerBuilder.vn đến hộp thư của bạn (xem thêm trong hộp Thư rác, Spam, Bulk mail). Nhấp vào đường link trong email để kích hoạt tài khoản trước khi sử dụng
        
        section.faq-quest
            h2.section-title Câu hỏi khác cùng chuyên mục
            a(href="").section-content  
                span.material-icons description
                |Làm thế nào để chỉnh sửa thông tin tài khoản?
            a(href="").section-content 
                span.material-icons description
                |Làm sao để thay Đổi email đăng ký tài khoản? 
            a(href="").section-content 
                span.material-icons description
                |Tôi phải làm gì khi quên Mật khẩu đăng nhập?
            a(href="").section-content 
                span.material-icons description
                |Làm gì khi không nhận được email kích hoạt tài khoản?
        .wrapper
            button.btn-comeback
                a(href="") Quay lại trang hỏi đáp
