section.employer-mail
	.container
		.row.align-item-center
			.col-md-6
				.left-content
					.icon
						img(src="./img/employer/i9.png", alt="")
					.content
						p.pc-show Đăng ký nhận tin tức, lời khuyên và lời khuyên mới nhất về ngành cùng CareerBuilder.vn
						p.mb-show Đăng ký nhận tin tức, lời khuyên: 
			.col-md-6.right-content
				form
					.form-register 
						input(type="text" placeholder="Nhập email của bạn") 
						button(type="submit") Đăng ký
