section.employer-talen-solution-advanced.cb-section
	.container
		.row
			.col-lg-6
				.image.popup-video
					a(href="https://www.youtube.com/watch?v=tRuakbhD0us" data-fancybox="")
						img(src="./img/employer/30.png", alt="")
			.col-lg-6
				h2.cb-title Hãy để 
					span Talent Solution
					br
					| Nâng cao hiệu quả tuyển dụng
				.content
					p Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động. Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động. Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động. Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động. Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động. Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động. 
