section.manager-fl
    .container 
        .fl__box
            section.fl__search
                .fl__search--boxtitle
                    h1.fl__search--title Quản lý đăng tuyển
                    a(href="").btn.btn-dangtin
                        span.material-icons
                            | edit
                        |Đăng tuyển dụng
                    a(href="").hd Hướng dẫn
                .row
                    .col
                        label(for="") Nhập chức danh/ Mã công việc
                        input(type="text", placeholder="Nhập từ khóa")
                    .col
                        label(for="") Tìm theo thời gian
                        select(name="")
                            option(value="") Ngày đăng
                    .col
                        label(for="") Từ ngày
                        input#datepicker(type='text', placeholder='Chọn ngày')
                    .col
                        label(for="") Đến ngày
                        input#datepicker2(type='text', placeholder='Chọn ngày')
                    .col.fl-end
                        button.btn-timkiem
                                span.material-icons search
                                | Tìm kiếm
            section.fl__boxmain
                h1.fl__boxmain--title
                section.fl__thongtin
                    h1.fl__thongtin--title Finance Manager (KVHCM)
                section.fl__danhsach
                    h1.section-title Danh sách Ứng viên
                    table 
                        thead
                            tr
                                th.fl__danhsach--title Tên ứng viên
                                th.fl__danhsach--title-date Ngày follow
                        tbody
                            tr
                                td.fl__danhsach--textleft
                                    p.fl__danhsach--name Đỗ Thị Ngọc Hạnh
                                    p.fl__danhsach--profile
                                        b
                                            | Hồ sơ:
                                        |Trưởng / Phó phòng kế toán
                                td.fl__danhsach--textright
                                    p.fl__danhsach--date 29/04/2020
                            tr
                                td.fl__danhsach--textleft
                                    p.fl__danhsach--name Lương Thị Tú Quỳnh
                                    p.fl__danhsach--profile
                                        b
                                            | Hồ sơ:
                                        |Trưởng phòng CNTT - Phần cứng / Mạng, CNTT - Phần mềm
                                td.fl__danhsach--textright
                                    p.fl__danhsach--date 29/04/2020
                            tr
                                td.fl__danhsach--textleft
                                    p.fl__danhsach--name Trần Thị Thảo Vy
                                    p.fl__danhsach--profile
                                        b
                                            | Hồ sơ:
                                        |HR Manager
                                td.fl__danhsach--textright
                                    p.fl__danhsach--date 29/04/2020
                            tr
                                td.fl__danhsach--textleft
                                    p.fl__danhsach--name Hoàng Trang
                                    p.fl__danhsach--profile
                                        b
                                            | Hồ sơ:
                                        |Commercial Finance Suppervisor/ Manager
                                td.fl__danhsach--textright
                                    p.fl__danhsach--date 29/04/2020
                            tr
                                td.fl__danhsach--textleft
                                    p.fl__danhsach--name Nguyễn Ngọc Phát
                                    p.fl__danhsach--profile
                                        b
                                            | Hồ sơ:
                                        |Trưởng phòng CNTT - Phần cứng / Mạng, CNTT - Phần mềm
                                td.fl__danhsach--textright
                                    p.fl__danhsach--date 29/04/2020
                            tr
                                td.fl__danhsach--textleft
                                    p.fl__danhsach--name Nguyễn Cao An
                                    p.fl__danhsach--profile
                                        b
                                            | Hồ sơ:
                                        |Trưởng phòng CNTT - Phần cứng / Mạng, CNTT - Phần mềm
                                td.fl__danhsach--textright
                                    p.fl__danhsach--date 29/04/2020

