section.find-candidate-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				.left-content
					.container
						.box-content
							h1 Tìm Hồ Sơ Ứng Viên
section.employer-nav
	.container
		//- .nav-mobile
		//- 	p Danh mục 
		//- 	em.mdi.mdi-chevron-down
		ul.list-menu
			li(data-menu="1").active
				a(href="javascript:void(0)") Tổng quan
			li(data-menu="2")
				a(href="javascript:void(0)") Lợi ích
			li(data-menu="3")
				a(href="javascript:void(0)") Mẫu Tìm Kiếm Hồ Sơ Ứng Viên
section.employer-find-candidate
	.container
		.section-content#section-1.cb-section
			h2.cb-title.cb-title-center Tổng quan
			.full-content
				p 
					strong Không bỏ lỡ nhân tài
				p Truy cập vào hàng trăm ngàn hồ sơ hoàn chỉnh và được cập nhật mới thường xuyên để tìm kiếm những ứng viên phù hợp nhất với vị trí tuyển dụng.
				p Lưu ý: Giá chưa bao gồm 10% thuế
				p 
					strong Căn cứ vào cấp bậc mong muốn của ứng viên:
				ul 
					li 
						p 
							strong Cấp Quản lý trở lên: 2 điểm
					li 
						p 
							strong Dưới Quản lý: 1 điểm
				.row.list-service
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name RD 2W
								p.price 3.586.000đ
								ul
									li Thời gian: 14 ngày
									li Số điểm: 120
									li Đơn giá: 
										span 3.586.000 đ
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name RD 1M
								p.price 4.608.000 đ
								ul
									li Thời gian: 30 ngày
									li Số điểm: 250
									li Tiết kiệm: 
										span 2.564.000 đ
									li Đơn giá: 
										span 7.172.000 đ
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name RD 3M
								p.price 13.799.000 đ
								ul
									li Thời gian: 90 ngày
									li Số điểm: 750
									li Tiết kiệm: 
										span 7.717.000 đ
									li Đơn giá: 
										span 21.516.000 đ
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name RD 6M
								p.price 26.074.000 đ
								ul
									li Thời gian: 180 ngày
									li Số điểm: 1.500
									li Tiết kiệm: 
										span 16.958.000 đ
									li Đơn giá: 
										span 43.032.000 đ
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name RD 12M
								p.price 47.744.000 đ
								ul
									li Thời gian: 360 ngày
									li Số điểm: 3.000
									li Tiết kiệm: 
										span 38.320.000 đ
									li Đơn giá: 
										span 86.064.000 đ
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
				.contact
					a(href="#").btn-gradient Liên hệ
		.section-content#section-2.cb-section
			h2.cb-title.cb-title-center Lợi ích
			//- .full-content
			.main-attractive
				.row.attractive-list
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/21.png", alt="")
							.caption
								h3.title Chủ động liên hệ với ứng viên tiềm năng.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/32.png", alt="")
							.caption
								h3.title Truy cập vào hàng trăm ngàn hồ sơ hoàn chỉnh và được cập nhật mới thường xuyên.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/33.png", alt="")
							.caption
								h3.title Tìm và lưu trữ hồ sơ ứng viên cho nhu cầu tuyển dụng trong tương lai.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/35.png", alt="")
							.caption
								h3.title Tìm được ứng viên phù hợp nhất chỉ bằng một cú nhấp chuột.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/36.png", alt="")
							.caption
								h3.title Dễ dàng quản lý và phân loại hồ sơ ứng viên.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/37.png", alt="")
							.caption
								h3.title Nhanh chóng tiếp cận ứng viên qua chức năng gửi email.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/38.png", alt="")
							.caption
								h3.title Không bao giờ bỏ lỡ ứng viên tiềm năng với chức năng thông báo ứng viên mới phù hợp qua email.
					
		.section-content#section-3.cb-section
			h2.cb-title.cb-title-center Mẫu Tìm Kiếm Hồ Sơ Ứng Viên
			.full-content
				.image
					img(src="https://images.careerbuilder.vn/content/Product/Search Vietnamese.jpg", alt="")
