extends ../_vietnamsalary.pug

block var
	- var title = "Home"
	- var name = "vn-salary-dt"
	- var bodyClass = "vn-salary-dt-page"
block link
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	link(rel="stylesheet" href="./gallery/fancybox/jquery.fancybox.css")
	link(rel="stylesheet" href="./gallery/swiper/swiper.css")
	link(rel="stylesheet" href="./gallery/jquery-auto-complete/jquery.auto-complete.css")
	link(rel="stylesheet" href="./gallery/chosen/chosen.css")
block main
	include ../../components/phase5/vn-salary-dt/index
	include ../../components/dash-board/salary-calculator-modal/index.pug
block script
	script(src="./gallery/swiper/swiper.js")
	script(src="./gallery/fancybox/jquery.fancybox.js")
	script(src="./gallery/chosen/chosen.jquery.js")
	script(src="./gallery/jquery-auto-complete/jquery.auto-complete.js")
