section.all-product-customer-reviews.cb-section(style="background-image: url('./img/employer/bg-1.png')")
	.container
		.cb-title.cb-title-center
			h2 Đánh giá của khách hàng
		.main-slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<3; i++)
						.swiper-slide
							.customer-reviews-item
								.head
									.avata
										img(src="./img/employer/19.png", alt="")
									.content
										p.name Chị Nguyễn Ngọc Diệp 
										p.position Giám đốc Nhân sự 
										p.company Công ty TNHH SX TM DV Lê Mây
								.body
									ul.list-star
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star-half
									.content
										p Mặc dù có thể lúc đầu khi áp dụng công nghệ của Talent Solution vào trong các hoạt động hàng ngày của công tác tuyển dụng có hơi chưa quen nhưng sau một thời gian, chúng tôi đã thấy được sự thay đổi tích cực và hiệu quả của giải pháp này mang lại. Nếu xét về tính hiệu quả đầu tư, các chỉ số như Cost/Application 
											a(href="#" data-fancybox="popup" data-src="#popup-review-1"+i+"").view-popup
												em.mdi.mdi-plus-box
							.popup-customer-reviews(style="display: none" id="popup-review-1"+i+"")
								.main-popup
									.left-review
										.avata
											img(src="./img/employer/19.png", alt="")
										ul.list-star
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star-half
									.content
										.head
											p.name Chị Nguyễn Ngọc Diệp 
											p.position Giám đốc Nhân sự 
											p.company Công ty TNHH SX TM DV Lê Mây
										.body 
											p Mặc dù có thể lúc đầu khi áp dụng công nghệ của Talent Solution vào trong các hoạt động hàng ngày của công tác tuyển dụng có hơi chưa quen nhưng sau một thời gian, chúng tôi đã thấy được sự thay đổi tích cực và hiệu quả của giải pháp này mang lại. Nếu xét về tính hiệu quả đầu tư, các chỉ số như Cost/Application (Chi phí cho một hồ sơ ứng tuyển), Cost/Hire (Chi phí cho một nhân sự tuyển dụng thành công) đang dần trở nên hiệu quả hơn. 
											p Mặc dù có thể lúc đầu khi áp dụng công nghệ của Talent Solution vào trong các hoạt động hàng ngày của công tác tuyển dụng có hơi chưa quen nhưng sau một thời gian, chúng tôi đã thấy được sự thay đổi tích cực và hiệu quả của giải pháp này mang lại. Nếu xét về tính hiệu quả đầu tư, các chỉ số như Cost/Application (Chi phí cho một hồ sơ ứng tuyển), Cost/Hire (Chi phí cho một nhân sự tuyển dụng thành công) đang dần trở nên hiệu quả hơn.
						.swiper-slide
							.customer-reviews-item
								.head
									.avata
										img(src="./img/employer/40.png", alt="")
									.content
										p.name Anh Phạm Văn Chính
										p.position Giám đốc Nhân sự 
										p.company United International Pharma
								.body
									ul.list-star
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star-half
									.content
										p Tối ưu nguồn lực là điều đầu tiên phải kể đến khi đánh giá hiệu quả Talent Solution. Giải pháp này của CareerBuilder Vietnam thực sự đã giúp bộ phận tuyển dụng chúng tôi mang về cho công ty những nhân viên/ quản lý ưu tú trong thời gian ngắn và với chi phí hiệu quả nhất. Thị trường lao động có rất nhiều 
											a(href="#" data-fancybox="popup" data-src="#popup-review-2"+i+"").view-popup
												em.mdi.mdi-plus-box
							.popup-customer-reviews(style="display: none" id="popup-review-2"+i+"")
								.main-popup
									.left-review
										.avata
											img(src="./img/employer/40.png", alt="")
										ul.list-star
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star-half
									.content
										.head
											p.name Anh Phạm Văn Chính
										p.position Giám đốc Nhân sự 
										p.company United International Pharma
										.body 
											p Tối ưu nguồn lực là điều đầu tiên phải kể đến khi đánh giá hiệu quả Talent Solution. Giải pháp này của CareerBuilder Vietnam thực sự đã giúp bộ phận tuyển dụng chúng tôi mang về cho công ty những nhân viên/ quản lý ưu tú trong thời gian ngắn và với chi phí hiệu quả nhất. Thị trường lao động có rất nhiều 
											p Tối ưu nguồn lực là điều đầu tiên phải kể đến khi đánh giá hiệu quả Talent Solution. Giải pháp này của CareerBuilder Vietnam thực sự đã giúp bộ phận tuyển dụng chúng tôi mang về cho công ty những nhân viên/ quản lý ưu tú trong thời gian ngắn và với chi phí hiệu quả nhất. Thị trường lao động có rất nhiều
						.swiper-slide
							.customer-reviews-item
								.head
									.avata
										img(src="./img/employer/41.png", alt="")
									.content
										p.name Chị Đỗ Thị Kim Cúc 
										p.position Giám đốc Hành Chính Nhân Sư 
										p.company GreenFeed VN
								.body
									ul.list-star
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star-half
									.content
										p GreenFeed VN là công ty hàng đầu trong lĩnh vực sản xuất thức ăn gia súc, gia cầm và thủy sản, với nhiều chi nhánh trong và ngoài nước.  Với sự phát triển ngày càng lớn mạnh của công ty, hàng năm chúng tôi cần tuyển dụng nhân tài cho các vị trí. Và giải pháp Talent Solution của CareerBuilder đã tạo lợi thế cho 
											a(href="#" data-fancybox="popup" data-src="#popup-review-3"+i+"").view-popup
												em.mdi.mdi-plus-box
							.popup-customer-reviews(style="display: none" id="popup-review-3"+i+"")
								.main-popup
									.left-review
										.avata
											img(src="./img/employer/41.png", alt="")
										ul.list-star
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star-half
									.content
										.head
											p.name Chị Đỗ Thị Kim Cúc 
											p.position Giám đốc Hành Chính Nhân Sư 
											p.company GreenFeed VN
										.body 
											p GreenFeed VN là công ty hàng đầu trong lĩnh vực sản xuất thức ăn gia súc, gia cầm và thủy sản, với nhiều chi nhánh trong và ngoài nước.  Với sự phát triển ngày càng lớn mạnh của công ty, hàng năm chúng tôi cần tuyển dụng nhân tài cho các vị trí. Và giải pháp Talent Solution của CareerBuilder đã tạo lợi thế cho
											p GreenFeed VN là công ty hàng đầu trong lĩnh vực sản xuất thức ăn gia súc, gia cầm và thủy sản, với nhiều chi nhánh trong và ngoài nước.  Với sự phát triển ngày càng lớn mạnh của công ty, hàng năm chúng tôi cần tuyển dụng nhân tài cho các vị trí. Và giải pháp Talent Solution của CareerBuilder đã tạo lợi thế cho
						.swiper-slide
							.customer-reviews-item
								.head
									.avata
										img(src="./img/employer/42.png", alt="")
									.content
										p.name Anh Nguyễn Thanh Hưng 
										p.position Trưởng bộ phận Tuyển dụng & Đào tạo 
										p.company Acecook Việt Nam
								.body
									ul.list-star
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star 
										li 
											em.mdi.mdi-star-half
									.content
										p Sau quá trình triển khai và sử dụng Talent Solution của CareerBuilder Vietnam, tôi đánh giá rất cao hiệu quả mà giải pháp này mang lại. Bên cạnh những lợi ích thấy rõ trong khả năng tạo nguồn và kết nối liên tục với ứng viên thì các tính năng khác giúp nâng cao sự tương tác trong tuyển dụng giữa chúng tôi và ứng viên của
											a(href="#" data-fancybox="popup" data-src="#popup-review-4"+i+"").view-popup
												em.mdi.mdi-plus-box
							.popup-customer-reviews(style="display: none" id="popup-review-4"+i+"")
								.main-popup
									.left-review
										.avata
											img(src="./img/employer/42.png", alt="")
										ul.list-star
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star 
											li 
												em.mdi.mdi-star-half
									.content
										.head
											p.name Anh Nguyễn Thanh Hưng 
											p.position Trưởng bộ phận Tuyển dụng & Đào tạo 
											p.company Acecook Việt Nam
										.body 
											p Sau quá trình triển khai và sử dụng Talent Solution của CareerBuilder Vietnam, tôi đánh giá rất cao hiệu quả mà giải pháp này mang lại. Bên cạnh những lợi ích thấy rõ trong khả năng tạo nguồn và kết nối liên tục với ứng viên thì các tính năng khác giúp nâng cao sự tương tác trong tuyển dụng giữa chúng tôi và ứng viên của
											p Sau quá trình triển khai và sử dụng Talent Solution của CareerBuilder Vietnam, tôi đánh giá rất cao hiệu quả mà giải pháp này mang lại. Bên cạnh những lợi ích thấy rõ trong khả năng tạo nguồn và kết nối liên tục với ứng viên thì các tính năng khác giúp nâng cao sự tương tác trong tuyển dụng giữa chúng tôi và ứng viên của
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left 
				.button-next
					em.mdi.mdi-chevron-right
