footer.for-customers
	.container
		section.top-footer.cb-section.cb-section-border-bottom
			.row
				.col-lg-3.col-sm-6
					.logo
						img(src="./img/logo-w.png", alt="")
					address
						ul
							li
								span.lnr.lnr-map-marker
								| Địa chỉ HCM: 139 Pasteur, Phường 6, Quận 3, Tp Hồ Chí Minh, Việt Nam
							li
								span.lnr.lnr-map-marker
								| Địa chỉ Hà Nội: Tầng 17, Tòa nhà VIT, 519 Kim Mã, Quận Ba Đình, Hà Nội, Việt Nam
							li
								span.lnr.lnr-phone-handset
								| Điện thoại HCM: (84.28) 3822 6060
							li
								span.lnr.lnr-phone-handset
								| Điện thoại Hà Nội: (84.24) 7305 6060
							li
								span.lnr.lnr-envelope
								| Email: contact@careerbuilder.vn
				.col-lg-2.col-sm-6
					.footer-links
						h3 Careerbuilder.vn
						ul
							li
								a(href="#") Về CareerBuilder.vn
							li
								a(href="#") Ban lãnh đạo
							li
								a(href="#") Văn hóa CareerBuilder
							li
								a(href="#") Cơ hội nghề nghiệp
							li
								a(href="#") Liên hệ
				.col-lg-2.col-sm-6
					.footer-links
						h3 HR Central
						//- ul
						//- 	li
						//- 		a(href="#") Tìm kiếm việc làm
						//- 	li
						//- 		a(href="#") Search Resume
						//- 	li
						//- 		a(href="#") Email Marketing
						//- 	li
						//- 		a(href="#") Talent Driver
						//- 	li
						//- 		a(href="#") Talent Refferal
						ul
							li
								a(href="#") Quản Lý Tuyển Dụng
							li
								a(href="#") Quản Lý Hồ Sơ
							li
								a(href="#") Thông Báo Ứng Viên
							li
								a(href="#") Đăng Tuyển Dụng
							li
								a(href="#") Tìm Hồ Sơ
							li
								a(href="#") Cẩm Nang Tuyển Dụng
							li
								a(href="#") Ứng Dụng Di Động
				.col-lg-2.col-sm-6
					.footer-links
						h3 hỗ trợ
						ul
							li
								a(href="#") Thỏa Thuận Sử Dụng
							li
								a(href="#") Quy Định Bảo Mật
							li
								a(href="#") Chính Sách BV Thông Tin Cá Nhân
							li
								a(href="#") Quy Chế Sàn Giao Dịch
							li
								a(href="#") Quy Trình Giải Quyết Tranh Chấp
							li
								a(href="#") GDPR Policy
						//- ul
						//- 	li
						//- 		a(href="#") Đăng ký / Đăng nhập
						//- 	li
						//- 		a(href="#") Hỗ trợ khách hàng
						//- 	li
						//- 		a(href="#") Security & Fraud
						//- 	li
						//- 		a(href="#") Data Subject Access Request
						//- 	li
						//- 		a(href="#") Ad Choices
				.col-lg-3.col-12
					.footer-app-links
						h3 Search on the go
						.app-links
							a(href="#")
								img(src="./img/apple.png", alt="")
							a(href="#")
								img(src="./img/android.png", alt="")
					.footer-social-links
						h3 kết nối với chúng tôi
						ul
							li
								a(href="#") 
									span.fa.fa-facebook
							li
								a(href="#") 
									span.fa.fa-linkedin
							li
								a(href="#") 
									span.fa.fa-youtube-play
		section.bottom-footer
			.left-bottom-footer
				ul 
					li 
						a(href="#") Điều khoản sử dụng
					li 
						a(href="#") Chính sách bảo mật
					li 
						a(href="#") Site map
				p Copyright © 2019 CareerBuilder Vietnam. Thiết kế website bởi Cánh Cam
			.right-bottom-footer
				img(src="./img/dk.png", alt="")
				.back-to-top#back-to-top
					em.lnr.lnr-arrow-up
