section.recruitment-advertising-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.banner-pc
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
				.banner-mb
					.image
						img(src="https://images.careerbuilder.vn/product/banner1_1453168761_1453437615.jpg", alt="").swiper-lazy
						.swiper-lazy-preloader
					
				.left-content
					.container
						.box-content
							h1 Quảng Cáo Tuyển Dụng
section.employer-nav
	.container
		//- .nav-mobile
		//- 	p Danh mục 
		//- 	em.mdi.mdi-chevron-down
		ul.list-menu
			li(data-menu="1").active
				a(href="javascript:void(0)") Tổng quan
			li(data-menu="2")
				a(href="javascript:void(0)") Lợi ích
			li(data-menu="3")
				a(href="javascript:void(0)") Mẫu Tìm Kiếm Hồ Sơ Ứng Viên
section.employer-recruitment-advertising
	.container
		.section-content.cb-section#section-1
			h2.cb-title.cb-title-center Tổng quan
			.full-content
				p 
					strong Xây dựng thương hiệu tuyển dụng ấn tượng trong mắt ứng viên
				p Quảng cáo tuyển dụng có thể thu hút sự chú ý của các ứng viên tài năng nhờ gắn liên kết trực tiếp đến thông tin tuyển dụng của bạn trên Logo hoặc Banner.
				p Lưu ý: Giá chưa bao gồm 10% thuế
				p 
					strong External Link Advertising
				p.title-service Trang chủ CareerBuilder.vn
				.row.list-service
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name talent solution Logo
								p.price 16.820.000đ
								ul
									li Kích thước: 160 x 56 px
									li Hiển thị ngẫu nhiên
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name vip Logo
								p.price 35.060.000đ
								ul
									li Kích thước: 88 x 50 px
									li Hiển thị ngẫu nhiên
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Mid-square Banner
								p.price 35.060.000đ
								ul
									li Kích thước: 250 x 250 px
									li Chia sẻ 2
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Top Banner
								p.price 55.200.000đ
								ul
									li Kích thước: 690 x 250 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Premium Leaderboard
								p.price 79.470.000đ
								ul
									li Kích thước: 1440 x 430 px
									li Chia sẻ 2
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
				p.title-service Trang kết quả tìm kiếm CareerBuilder.vn
				.row.list-service
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Search Result Banner
								p.price 26.490.000đ
								ul
									li Kích thước: 390 x 270 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Search Result Mid Banner
								p.price 26.490.000đ
								ul
									li Kích thước: 390 x 270 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Search Result Footer Banner
								p.price 13.250.000đ
								ul
									li Kích thước: 960 x 119 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
				p 
					strong Internal Link Advertising
				p.title-service Trang chủ CareerBuilder.vn
				.row.list-service
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name vip Logo
								p.price 16.820.000đ
								ul
									li Kích thước: 62 x 61 px
									li Hiển thị ngẫu nhiên
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Mid-square Banner
								p.price 24.600.000đ
								ul
									li Kích thước: 330 x 290 px
									li Chia sẻ 2
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Top Banner
								p.price 36.800.000đ
								ul
									li Kích thước: 690 x 250 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Premium Leaderboard
								p.price 52.980.000đ
								ul
									li Kích thước: 1900 x 570 px
									li Chia sẻ 5
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
				p.title-service Trang kết quả tìm kiếm CareerBuilder.vn
				.row.list-service
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Search Result Banner
								p.price 17.660.000đ
								ul
									li Kích thước: 390 x 270 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Search Result Mid Banner
								p.price 17.660.000đ
								ul
									li Kích thước: 390 x 270 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Search Result Footer Banner
								p.price 8.830.000đ
								ul
									li Kích thước: 960 x 119 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
				p.title-service Thiết kế trang quảng cáo (HTML)
				.row.list-service
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Chỉnh sửa trang HTML
								p.price 1.080.000đ
								ul
									li Kích thước: 390 x 270 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
					.col-sm-6.col-md-4.col-lg-3.col-xl-5-12
						.service-item
							.head-item
								p.name Thiết kế và triển khai trang HTML
								p.price 10.750.000đ
								ul
									li Kích thước: 390 x 270 px
									li Chia sẻ 3
							.button
								a(href="#").btn-gradient.btn-buy Mua ngay
				.contact
					a(href="#").btn-gradient Liên hệ
		.section-content.cb-section#section-2
			h2.cb-title.cb-title-center Lợi ích
			.main-attractive
				.row.attractive-list
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/21.png", alt="")
							.caption
								h3.title Thu hút các ứng viên tài năng ngay lập tức nhờ hiển thị logo và banner trên trang chủ.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/32.png", alt="")
							.caption
								h3.title Nổi bật hơn các thông tin tuyển dụng khác nhờ mẫu thiết kế chuyên nghiệp.
					.col-md-6
						.attractive-item
							.image
								img(src="./img/employer/33.png", alt="")
							.caption
								h3.title Quảng bá văn hóa và cơ hội việc làm của công ty bạn đến đông đảo ứng viên.
		.section-content.cb-section#section-3
			h2.cb-title.cb-title-center Mẫu Tìm Kiếm Hồ Sơ Ứng Viên
			.full-content
				.image
					img(src="https://images.careerbuilder.vn/content/Product/Quang Cao Tuyen  Dung - Viet.jpg", alt="")
