section.employer-talen-solution-why.cb-section
	.container
		h2.cb-title.cb-title-center Vì sao chọn 
			span Talent Solution?
		.sub-title
			p Tại Việt Nam, CareerBuilder là lựa chọn của hơn 14.000 doanh nghiệp hàng đầu với các ưu thế: Tiếp cận hiệu quả nhiều nguồn ứng viên tiềm năng với Giải pháp kết nối, tuyển dụng và quản lý nhân tài Talent Solution, Talent Driver , Targeted Email Marketing , Talent Referral. Thu hút hàng trăm ngàn hồ sơ ứng viên hoàn chỉnh và được cập nhật mới thường xuyên..
		.row.list-why-top
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i14.png", alt="")
					.caption
						h3.title Nâng tầm thương hiệu tuyển dụng
						p.sub-title Employer Branding
						.content
							p Một thương hiệu mạnh trong tuyển dụng nhân sự mang lại nhiều lợi ích cho doanh nghiệp như dễ “chiêu mộ” và giữ chân nhân tài.
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i15.png", alt="")
					.caption
						h3.title Tiếp cận ứng viên thông qua thiết bị di động
						//- p.sub-title Employer Branding
						.content
							p Không bỏ lỡ ứng viên tiềm năng và tiếp cận đến hơn 30% ứng viên tìm việc trên các thiết bị di động.
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i16.png", alt="")
					.caption
						h3.title Xây dựng nguồn dữ liệu ứng viên cho hiện tại và tương lai
						//- p.sub-title Employer Branding
						.content
							p Thu hút ứng viên tiềm năng trở thành thành viên hâm mộ (fan) của doanh nghiệp thông qua mã nhúng “Join our Talent Network”.
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i17.png", alt="")
					.caption
						h3.title Nâng cao tương tác trong quá trình tuyển dụng giữa nhà tuyển dụng & ứng viên
						//- p.sub-title Employer Branding
						.content
							p Kết nối ứng viên bằng hệ thống email tương tác tự động, giúp tiết kiệm thời gian và chi phí nhân sự, nâng cao hình ảnh chuyên nghiệp của doanh nghiệp với ứng viên.
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i18.png", alt="")
					.caption
						h3.title Hệ thống quản lý quy trình tuyển dụng - ATS
						p.sub-title Application tracking System
						.content
							p Nâng cao hiệu quả quy trình tuyển dụng một cách toàn diện.
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i19.png", alt="")
					.caption
						h3.title ROI
						p.sub-title Return on Investment
						.content
							p Nâng cao hiệu quả trong công tác tuyển dụng:
							ul 
								li • Chi phí/ hồ sơ ứng tuyển (Cost/Application)
								li • Chi phí/ ứng viên thành công (Cost/Hire)
		h2.cb-title.cb-title-center.mt-4 Hãy để 
			span Talent Solution
			br 
			| Nâng cao hiệu quả tuyển dụng
		.row.list-why-bottom
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i20.png", alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.28 3822 6060") +84.28 3822 6060
						p.email Email:
							a(href="mailto: sales@careerbuilder.vn") sales@careerbuilder.vn
						.button
							a(href="tel: +84.28 3822 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
			.col-lg-6
				.why-item
					.icon
						img(src="./img/employer/i21.png", alt="")
					.caption
						p.number-phone Điện thoại:
							a(href="tel: +84.24 7305 6060") +84.24 7305 6060
						p.email Email:
							a(href="mailto: sales.north@careerbuilder.vn") sales.north@careerbuilder.vn
						.button
							a(href="tel: +84.24 7305 6060").btn-phone-now.btn-gradient
								em.mdi.mdi-phone
								span gọi ngay
