footer.footer-vietnam-salary
	.container
		section.top-footer.cb-section.cb-section-border-bottom
			.footer-top
				.content
					p VietnamSalary, với sự bảo trợ phương pháp luận từ đối tác InsightASIA Là cổng thông tin cung cấp mức lương tham khảo đáng tin cậy dựa trên kết quả tổng hợp từ các vị trí đăng tuyển tại CareerBuilder.vn
				.main-img
					img(src="./img/vn-salary/img-ft.png", alt="")
			.footer-mid
				p Báo cáo lương rất phụ thuộc vào vị trí chức danh, mô tả công việc cụ thể, ngành nghề, địa điểm, kinh nghiệm làm việc, loại hình và quy mô của doanh nghiệp và nhiều yếu tố khác. Tuy nhiên trong phiên bản trải nghiệm, chúng tôi mới chỉ dừng lại ở việc công bố thông tin chung về chức danh và địa điểm. Biết rằng với thông tin cơ bản này chưa thể đáp ứng ngay nhu cầu tìm kiếm một trang chuyên cung cấp thông tin lương cho thị trường, chính vì vậy chúng tôi rất hoan nghênh các ý kiến đóng góp của người sử dụng và sẽ nhanh chóng cho ra đời các phiên bản chính thức trong thời gian sớm nhất. Mọi đóng góp, thắc mắc vui lòng liên hệ trực tiếp với chúng tôi qua email: contact@careerbuilder.vn. Chúng tôi hoan nghênh mọi đóng góp nhằm phát triển VietnamSalary, đáp ứng được nhu cầu bức thiết về thông tin lương của thị trường. Trân trọng cảm ơn!
		section.bottom-footer
			.left-bottom-footer
				ul
					li
						a(href="#") Phương pháp luận
					li
						a(href="#") Thỏa thuận sử dụng
					li
						a(href="#") Quy định bảo mật
				p Copyright © CareerBuilder Vietnam.
			.right-bottom-footer
				.img
					img(src="./img/dk.png", alt="")
				.back-to-top
					em.lnr.lnr-arrow-up
